header{
    background-color: #102461;
    height: 100px;
}
.Nombreusuario{
    color:#FFFFFF;
    margin-top: 5px;
    margin-right: 10px;
    float: right;
  }
  .logo{
    width: 30%;
    height: 70px;
    float: left;
    margin-top: 20px;
    margin-left: 40px;
  }
  #texto_atras{
    margin-left: 5%;
    margin-top: 0px;
    color: #102461; 
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
  }
  #texto_etapa{
    margin-right: 1%;
    float: right;
    margin-top: -55px;
    color: #102461; 
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
  }

  #texto_planificacion{
    margin-right: 0%;
    float: right;
    margin-top: -25px;
    color: #102461; 
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
  }
  #texto_siguiente{
    margin-right: -20%;
    float: right;
    margin-top: 10px;
    color: #102461; 
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
  }
  .imgRedonda {
    width:50px;
    height:50px;
    margin-top: 10px;
    border-radius:160px;
    border:5px solid rgb(1, 151, 252);
  }
  /****************************************************/
  .dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    margin-left: -50px;
    width: 300%;
    height: 120%;
    background-color: #102461;
    /*opacity: 70%;*/
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }
  /***************************************************************************/
  .nav li a {
  
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
  }
  
  /*.nav li a:hover {
    background-color:#434343;
  }*/
  
  #FondoNav{
    background-color: #102461;
  }
  
  .nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
  }
  
  .nav li:hover > ul {
    display:block;
  }
  
  .nav li ul li {
    position:relative;
  }
  
  .nav li ul li ul {
    right:-140px;
    top:0px;
  }
  
  /******************************/
  /* Importante Ocultar Menu Movil*/
  .main-header{
    display: none;  
  }
  #mosaicoDER{
    float: right;
    width: 120px;
    height: 120px;
  }
  .menu_general ul{
    margin-right: 70px;
  }
  .menu_general li{
    margin-top: 25px;
    margin-right: 50px; 
    list-style:none;
    display: inline-block;
  
      margin-left: -50px;
  }
  #texto{
    color: white;
  }
  button{
    background-color: transparent;
    border-color: white;
    border-radius: 5px;
    height: 40px;
    margin-top: 15px;
    width: 13%;
  }
  body{
    background-color: #FFFFFF;
  }
  .h4{
    margin-left: 10%;
    margin-top: 60px;
    color: #102461; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; 
    
  } 
  .h4_2do{
    margin-left: 10%;
    margin-top: 30px;
    color: #102461; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; 
  }

  .Comisiones_FeriaE2{
    background-color: #181D43; 
    width: 55%;
    height:810px; 
     margin-left: 20%;
    margin-top: 40px;
    padding: 10px;   
    box-shadow: 0px 0px 4px 4px #000a1d67;    
  }
  .NotaCampos{
    color:#FFFFFF;
    margin-left: 1%;
  
  }
  thead, tbody{
    color:rgb(0, 38, 255);
    background-color: #ffffff;
    
  }
 
  

  label{
    color: #78788c;
    font-size: 18px;
    position: absolute;
    margin-left: 5%;
    top: 10px;
    transition: 0.3s ease all;    
    pointer-events: none;
    padding-bottom: 20px;
  }

  #LabelFunciones{
    color: #78788c;
    font-size: 18px;
    position: absolute;
    margin-left: 5%;
    margin-top: 50px;
    transition: 0.3s ease all;    
    pointer-events: none;
    padding-bottom: 20px;
  }
  input{
    background: none;
    color: #78788c;    
    display: block;
    width: 90%;
    margin: auto;
    border: none;
    border-bottom: 1px solid #ffffff;  
    margin-top: 50px;  
    font-family: sans-serif;
    margin-left: 30%;
  }
  select{
    background: none;
    color: #78788c;    
    display: block;
    width: 90%;
    margin: auto;
    border: none;
    border-bottom: 1px solid #ffffff;  
    margin-top: 50px;  
    font-family: sans-serif;
    margin-left: 35%;
  }

  .NotaFunciones{
    color:#FFFFFF;
    margin-left: 12%;
    margin-top: 20%;
  
  }

  #MarcoFun {
    width: 100%;
    margin-left: 45%;
 

  }
  #MarcoInt {
    width: 100%;
    margin-left: 25%;
 

  }

  .my-custom-scrollbar {
    position:static;
    height: 200px;
    /*width: 150px;*/
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }

  .btnEDIT{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:#ffffff;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    float: right;
    margin-right: 2%;
    width: 150px;
    height: 50px;
  }

  .btnAGG{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:#ffffff;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    float: right;
    margin-right: 10%;
    width: 150px;
    height: 50px;
  }

  .btnSigE2{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  border:1px solid #78788c;
  background:#ffffff;
  color: #0b3061;
  box-shadow: 1px 1px 5px #000000 ;
  cursor:pointer;
  float: right;
  margin-right: -30%;
  margin-top: 10%;
  width: 150px;
  height: 50px;
}

.btnCancelarR{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  border:1px solid #78788c;
  background:#ffffff;
  color: #0b3061;
  box-shadow: 1px 1px 5px #000000 ;
  cursor:pointer;
  float: left;
  margin-left: 5%;
  margin-top: 10%;
  width: 150px;
  height: 50px;
}

.btnCancelarRPA{
  font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: bold;
border:1px solid #78788c;
background:#ffffff;
color: #0b3061;
box-shadow: 1px 1px 5px #000000 ;
cursor:pointer;
float: left;
margin-left:10%;
margin-top: 20%;
width: 150px;
height: 50px;
}

  .btnEditarComision{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:#ffffff;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    float: right;
    margin-right: 2%;
    width: 150px;
    height: 50px;
  }

  .btnAgregarComision{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:#ffffff;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    float: right;
    margin-right: 10%;
    width: 150px;
    height: 50px;
  }

  .ResponsableC{
    background: none;
    color: #78788c;    
    display: block;
    width: 90%;
    margin: auto;
    border: none;
    border-bottom: 1px solid #ffffff;  
    margin-top: 50px;  
    font-family: sans-serif;
    margin-left: 35%;
  }

  .btnAgregarRs{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:#ffffff;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    float: right;
    margin-right: 10%;
    width: 150px;
    height: 50px;
  }

  .btnEditarRs{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:#ffffff;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    float: right;
    margin-right: 2%;
    width: 150px;
    height: 50px;
  }

  #IntegranteC{
    background: none;
    color: #78788c;    
    display: block;
    width: 90%;
    margin: auto;
    border: none;
    border-bottom: 1px solid #ffffff;  
    margin-top: 5%;  
    font-family: sans-serif;
    margin-left: 35%;
  }

  .btnAgregarIn{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:#ffffff;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    float: right;
    margin-right: 10%;
    width: 150px;
    height: 50px;
  }

  .btnEditarIn{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:#ffffff;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    float: right;
    margin-right: 2%;
    width: 150px;
    height: 50px;
  }

  .btnGuardarDatosG{
   font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: bold;
border:1px solid #78788c;
background:#ffffff;
color: #0b3061;
box-shadow: 1px 1px 5px #000000 ;
cursor:pointer;
float: right;
margin-right:10%;
margin-top: 20%;
width: 150px;
height: 50px;
  }


  #mosaicoIZQ{
    width: 120px;
    height: 120px;
    position: absolute;
  }
  /************************************************************************* INICIA FOOTER*/
  .site-footer
  {
    background-color: #102461;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#ffffff;
    margin-top: 5%;
    font-family: 'Montserrat', sans-serif, serif;
  }
  .site-footer hr
  {
    border-top-color:#bbb;
    opacity:0.5
  }
  .site-footer .footer-links .fa{
      color: #ffffff;
      margin-right: 15px;
  }
  
  .site-footer hr.small
  {
    margin:20px 0
  }
  .site-footer h2
  {
      color: #fff;
      font-family: 'Montserrat', sans-serif, serif;
      font-size:  150%;
      padding-bottom: 0.625rem;
      list-style:none; 
  }
  .site-footer a
  {
      color: #fff;
      font-family: 'Montserrat', sans-serif, serif;
      font-size: 95%;
      padding-bottom: 0.625rem;
  }
  .site-footer a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links
  {
    padding-left:0;
    list-style:none
  }
  .footer-links li
  {
    display:block;
    margin-top: 15px;
    margin-right: 60px; 
  }
  .footer-links a
  {
    color:#ffffff
  }
  .footer-links a:active,.footer-links a:focus,.footer-links a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links.inline li
  {
    display:inline-block
  }
  .site-footer .social-icons
  {
    text-align:right
  }
  .site-footer .social-icons a
  {
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#ffffff;
    color:#102461;
  }
  .copyright-text
  {
    margin:0
  }
  
  .social-icons
  {
    padding-left:0;
    margin-bottom:0;
    list-style:none;
    margin-left: 10px;
  }
  .social-icons li
  {
    display:inline-block;
    margin-bottom:4px
  }
  .social-icons li.title
  {
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
  }
  .social-icons a{
    background-color:#00476b;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .social-icons a:active,.social-icons a:focus,.social-icons a:hover
  {
    color:#fff;
    background-color:#29aafe
  }
  .social-icons.size-sm a
  {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
  }
  .social-icons a.facebook:hover
  {
    background-color:#3b5998
  }
  .social-icons a.global:hover
  {
    background-color:#00aced
  }