body{
    background-image: url('../../imagenes/Recursos/Prox.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    z-index: -1;
    margin:0;
    padding: 0;
    width: 100%;
}
header{
    background-color: #102461;
    height: 100px;
}
.Nombreusuario{
    color:#FFFFFF;
    margin-top: 5px;
    margin-right: 10px;
    float: right;
  }
  .logo{
    width: 30%;
    height: 70px;
    float: left;
    margin-top: 20px;
    margin-left: 40px;
  }
  .imgRedonda {
    width:50px;
    height:50px;
    margin-top: 10px;
    border-radius:160px;
    border:5px solid rgb(1, 151, 252);
  }
  /****************************************************/
  .dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    margin-left: -50px;
    width: 300%;
    height: 120%;
    background-color: #102461;
    /*opacity: 70%;*/
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }
  /***************************************************************************/
  .nav li a {
  
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
  }
  
  /*.nav li a:hover {
    background-color:#434343;
  }*/
  
  #FondoNav{
    background-color: #102461;
  }
  
  .nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
  }
  
  .nav li:hover > ul {
    display:block;
  }
  
  .nav li ul li {
    position:relative;
  }
  
  .nav li ul li ul {
    right:-140px;
    top:0px;
  }
  
  /******************************/
  /* Importante Ocultar Menu Movil*/
  .main-header{
    display: none;  
  }
  #mosaicoDER{
    float: right;
    width: 120px;
    height: 120px;
  }
  .menu_general ul{
    margin-right: 70px;
  }
  .menu_general li{
    margin-top: 25px;
    margin-right: 50px; 
    list-style:none;
    display: inline-block;
  
      margin-left: -50px;
  }
  #texto{
    color: white;
  }
  button{
    background-color: transparent;
    border-color: white;
    border-radius: 5px;
    height: 40px;
    margin-top: 15px;
    width: 13%;
  }
  