
header{
  width: 100%;
  height: 70px;
  box-shadow: inset 200px 200px 200px 200px rgba(0, 0, 0, 0.233)
}

/*Para redirigir a la página de la UNI*/
  #sectionLinkUni{  
    background: linear-gradient(171deg, rgba(255,255,255,1) 0%, rgba(16,36,97,1) 35%, rgba(16,36,97,1) 100%);
    width: 170px;   
    height: 40px; 
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    position: relative;
    left: 2.5%;
    top: 10px;      
  }

  #sectionLinkUni:hover{
    cursor: pointer;
  }

  .linkUni{
    display: inline-block;  
    margin-left: 10px;
    color: white; 
    position: relative; 
    bottom: 5px;
  }

  .linkUni:nth-child(1){    
    position: relative;
    bottom: 7px;
  }

  .linkUni:nth-child(2){    
    margin-left: 5px;  
    border-left-style: solid;
    border-left-color: white;
    border-left-width: 2px;
    padding-left: 8px;
  }
/*=====================================*/
.logo{
    width: 30%;
    height: 70px;
    float: left;
    margin-top: 9px;
    margin-left: 40px;
}

#fondo{
    width: 95%;
    position: relative;
    left: 2%;
    height: 20%;    
}

body{
    background-image: url('../../imagenes/Recursos/Fondo.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    z-index: -1;
    margin:0;
    padding: 0;
    width: 100%;
}

ul{
    margin-right: 60px;
}

li{
    margin-top: 15px;
    margin-right: 60px;
}

#texto{
    color: white;
}

.nav-link{  
  position: relative;
  bottom: 0px;
}

/*Inicio Menu Móvil*/
.main-header{
  visibility: hidden;
}
/*Fin Menu Móvil*/

button{
    background-color: transparent;
    border-color: white;
    border-radius: 5px;
    height: 40px;
    margin-top: 15px;
}

#h1_tituloinicio{
    color: #FFFFFF;    
    font-size: calc(1em + 1vw);
    position: relative;    
    width: 100%;
    height: 20%;    
}

/*=======INICIO CARRUSEL=======*/
* {
    box-sizing: border-box
  }

  .mySlides {
    display: none
  }

  .mySlides:nth-child(1) {
    display: block
  }

   /* Contenedor de diapositivas */
  .slideshow-container {
    width: 98%;
    position: relative;
    margin: auto;
  }

   /* Botones siguiente y anterior */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black !important;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

   /* Coloque el botón "Siguiente" a la derecha */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;

  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white !important;
  }

   /* Texto del título */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

   /* Símbolo de marca */
  .dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #717171;
    color: white;
  }

   /* Desvanecer animación */
  .fade1 {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: 0
    }

    to {
      opacity: 1
    }
  }

  @keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

  .divTreePoints{
    width: 100%;
    text-align:center;
  }

/*=======FIN CARRUSEL=======*/

/*=======INICIO NOTICIAS=======*/
#div_Contenedor_Noticias{
  width: 98%;
  height: 400px;
  margin-bottom: 40px;
  background-color: #b6bacf;
  position: relative;
  left: 1%;
}

#div_Contenedor_Noticia_Principal{
  width: 45%;
  height: 90%;
  background-color:#ffffff;
  position: relative;
  left: 20px;
  top:20px;
}

#div_Contenedor_Noticia_Principal>img{
  width: 100%;
  height: 100%;
  position:absolute;
}

#div_Contenedor_Noticia_Principal > h3{
  color: blue;
  position: relative;
  bottom: 5px;
}

#div_Contenedor_Noticia_Principal > h5{
  color: white;
  Position: relative;
  bottom: 5px;
}

.div_Contenedor_Noticia_Secundario > img{
  width: 100%;
  height: 110%;
  position:absolute;
}

      /*INICIO ANIMACION NOTICIAS*/
      #div_Contenedor_Noticia_Principal{
        cursor: pointer;
      }

      #div_Contenedor_Noticia_Principal > div{
        height: 1px;
        width: 100%;
        background-color: gray;
        opacity: 0.1;
        position: relative;
        Top: 257px;
        Transition: all 1s ease-in-out;
        overflow: hidden;
      }

      #div_Contenedor_Noticia_Principal:hover > div{
        height: 120px;
        width: 100%;
        background-color: gray;
        opacity: 0.95;
        position: relative;
        Top: 135px;
      }

      #div_Contenedor_Noticia_Principal > div > h3{
        opacity: 0;
        transition: all 1.5s ease-in-out;
      }

      #div_Contenedor_Noticia_Principal:hover > div > h3{
        visibility: visible;
        opacity: 1;
      }

      #div_Noticia_Secundario{
        cursor: pointer;
        width: 50%;
        height: 39%;
        Position: relative;
        bottom: 348px;
        float: right;
        display: block;
        margin: 10px 20px 0px 10px;
      }

      #div_Noticia_Secundario > div{
        height: 0px;
        width: 100%;
        background-color: gray;
        opacity: 0.1;
        position: relative;
        top: 43%;
        Transition: all 1s ease-in-out;
      }

      #div_Noticia_Secundario:hover > div{
        height: 70px;
        width: 100%;
        background-color: gray;
        opacity: 0.95;
        position: relative;
        top: -2%;
      }

      #div_Noticia_Secundario > div > h3{
        opacity: 0;
        transition: all 1.5s ease-in-out;
      }

      #div_Noticia_Secundario:hover > div > h3{
        visibility: visible;
        opacity: 1;
      }

      #div_Noticia_Terciario{
        cursor: pointer;
        width: 50%;
        height: 39%;
        Position: relative;
        bottom: 330px;
        float: right;
        display: block;
        margin: 10px 20px 0px 10px;
      }

      #div_Noticia_Terciario > div{
        height: 0px;
        width: 100%;
        background-color: gray;
        opacity: 0.1;
        position: relative;
        top: 68px;
        Transition: all 1s ease-in-out;
      }

      #div_Noticia_Terciario:hover > div{
        height: 70px;
        width: 100%;
        background-color: gray;
        opacity: 0.95;
        position: relative;
        top: -1%;
      }

      #div_Noticia_Terciario > div > h3{
        opacity: 0;
        transition: all 1.5s ease-in-out;
      }

      #div_Noticia_Terciario:hover > div > h3{
        visibility: visible;
        opacity: 1;
      }

      .h3_Titulo_Noticia{
        visibility: hidden;
        transition: all 1s ease-in-out;
      }

      /*FIN ANIMACION NOTICIAS*/

  /*=======FIN NOTICIAS=======*/

  /** INICIA FOOTER*/
    /*****Componentes generales, dejar como estan*************/
    .site-footer
    {
      background-color: #102461;      
      padding:45px 0 20px;
      font-size:15px;
      line-height:24px;
      color:#ffffff;
      margin-top: 5%;
      font-family: 'Montserrat', sans-serif, serif;
    }
    .site-footer hr
    {
      border-top-color:#bbb;
      opacity:0.5
    }
    .site-footer .footer-links .fa{
        color: #ffffff;
        margin-right: 15px;
    }

    .site-footer hr.small
    {
      margin:20px 0
    }
    .site-footer h2
    {
        color: #fff;
        font-family: 'Montserrat', sans-serif, serif;
        font-size:  150%;
        padding-bottom: 0.625rem;
        list-style:none; 
    }
    .site-footer a
    {
        color: #fff;
        font-family: 'Montserrat', sans-serif, serif;
        font-size: 95%;
        padding-bottom: 0.625rem;
    }
    .site-footer a:hover
    {
      color:#3366cc;
      text-decoration:none;
    }
    .footer-links
    {
      padding-left:0;
      list-style:none
    }
    .footer-links li
    {
      display:block;
      margin-top: 15px;
      margin-right: 50px;
      
    }
    .footer-links a
    {
      color:#ffffff
    }
    .footer-links a:active,.footer-links a:focus,.footer-links a:hover
    {
      color:#3366cc;
      text-decoration:none;
    }
    .footer-links.inline li
    {
      display:inline-block
    }
    .site-footer .social-icons
    {
      text-align:right;
    }
    .site-footer .social-icons a
    {
      width:40px;
      height:40px;
      line-height:40px;
      margin-left:6px;
      margin-right:0;
      border-radius:100%;
      background-color:#ffffff;
      color:#102461;      
    }
    .copyright-text
    {
      margin:0
    }

    .social-icons
    {
      padding-left:0;
      margin-bottom:0;
      list-style:none;
      margin-left: 10px;
    }
    .social-icons li
    {
      display:inline-block;
      margin-bottom:4px;
      margin: 0px;
    }
    .social-icons li.title
    {
      margin-right:15px;
      text-transform:uppercase;
      color:#96a2b2;
      font-weight:700;
      font-size:13px
    }
    .social-icons a{
      background-color:#00476b;
      color:#818a91;
      font-size:16px;
      display:inline-block;
      line-height:44px;
      width:44px;
      height:44px;
      text-align:center;
      margin-right:8px;
      border-radius:100%;
      -webkit-transition:all .2s linear;
      -o-transition:all .2s linear;
      transition:all .2s linear
    }
    .social-icons a:active,.social-icons a:focus,.social-icons a:hover
    {
      color:#fff;
      background-color:#29aafe
    }
    .social-icons.size-sm a
    {
      line-height:34px;
      height:34px;
      width:34px;
      font-size:14px
    }
    .social-icons a.facebook:hover
    {
      background-color:#3b5998
    }
    .social-icons a.global:hover
    {
      background-color:#00aced
    }
  /*TERMINA FOOTER*/    
/*Ajustes para responsive de algunos componentes*/
@media screen and (min-width: 2560px)
 /*and (max-width: 2560px) */
{
  #texto{
    color: white;
    font-size: 17px;    
  }

  .nav-link{
    font-size: 15px;
    position: relative;
    bottom: 0px;
  }    
  /*Inicio*/
  #div_Noticia_Secundario{
    bottom: 350px;
    margin: 10px 1% 0px 1%;
  }

  #div_Noticia_Terciario{
    bottom: 328px;
    margin: 10px 1% 0px 1%;
  }  

  #h1_tituloinicio{
    color: #FFFFFF;
    font-size: calc(1em + 1vw);
    position: relative;
    left: 36%;
    width: 40%;
    height: 20%;
    top: 50px;
    font-weight: bold;
  }

  .nav-item{
    position: relative;
    right: 5%;
  }

  .buttonIniciarSesion{
    position: relative;
    right: 5%;
    top: 2px;
    border-radius: 5px;
  }

  #div_Contenedor_Noticias{
    top: 100px;    
  }

  .slideshow-container{
    top: 80px;
  }

  .divTreePoints{
    position: relative;
    top: 80px;
  }

  .ft-main-item-nav{
    position: relative;
    top: 25px;
    font-size: 20px;
  }

  .ft-main-item-nav>ul{
    list-style: none;
  }

  /*Fin*/   
}

@media screen and (min-width: 1920px)
and (max-width: 2559px) {
  /*Inicio*/

  #texto{
    color: white;
    font-size: 17px;
    position: relative;
  }

  .nav-link{
    font-size: 15px;
    bottom: 0px;    
  }

  #div_Noticia_Secundario{
    bottom: 350px;
    margin: 10px 1% 0px 1%;
  }

  #div_Noticia_Terciario{
    bottom: 328px;
    margin: 10px 1% 0px 1%;
  }  

  #h1_tituloinicio{
    color: #FFFFFF;
    font-size: calc(1em + 1vw);
    position: relative;
    left: 35%;
    width: 40%;
    height: 20%;
    top: 50px;
    font-weight: bold;
  }

  .nav-item{
    position: relative;
    right: 5%;
  }

  .buttonIniciarSesion{
    position: relative;
    right: 5%;
    top: 2px;
    border-radius: 5px;
  }

  #div_Contenedor_Noticias{
    top: 100px;
  }

  .slideshow-container{
    top: 80px;
  }

  .divTreePoints{
    position: relative;
    top: 80px;
  }

  .ft-main-item-nav{
    position: relative;
    top: 25px;
  }

  .ft-main-item-nav>ul{
    list-style: none;
  }

  /*Fin*/  
  
}

/*REFACTORIZACIÓN SAMIR, Construcción de responsive en cascada, a como debería ser*/
@media screen and (max-width: 1919px) /*PC*/
and (min-width: 280px)
{  
  #texto{
    font-size: 17px;
  }

  #div_Noticia_Secundario{
    bottom: 350px;
    margin: 10px 1% 0px 1%;
  }

  #div_Noticia_Terciario{
    bottom: 328px;
    margin: 10px 1% 0px 1%;
  }  

  #h1_tituloinicio{
    color: #FFFFFF;
    font-size: calc(1em + 1vw);
    position: relative;
    left: 34%;
    width: 40%;
    height: 20%;
    top: 50px;
    font-weight: bold;
  }

  .nav-item{
    position: relative;
    right: 5%;
  }

  .buttonIniciarSesion{
    position: relative;
    right: 5%;
    top: 2px;
    border-radius: 5px;
  }

  #div_Contenedor_Noticias{
    top: 100px;
  }

  .slideshow-container{
    top: 80px;
  }

  .divTreePoints{
    position: relative;
    top: 80px;
  }

  .ft-main-item-nav{
    position: relative;
    top: 25px;
  }

  .ft-main-item-nav>ul{
    list-style: none;
  }   

  @media screen and (max-width: 1800px) /*PC*/
  and (min-width: 280px)
  {  
    #h1_tituloinicio{
      color: #FFFFFF;
      /* font-size: 300%; */
      font-size: calc(1em + 1vw);
      position: relative;      
      width: 40%;
      height: 20%;    
    }  

    @media screen and (max-width: 1600px)
    and (min-width: 280px){
      #texto{
        color: white;        
        position: relative;        
      }
  
      .nav-link{
        font-size: 15px;
        bottom: 0px;
      }
  
      #div_Noticia_Secundario{
        bottom: 350px;
        margin: 10px 1% 0px 1%;
      }
  
      #div_Noticia_Terciario{
        bottom: 328px;
        margin: 10px 1% 0px 1%;
      }
  
      #h1_tituloinicio{
        color: #FFFFFF;
        font-size: calc(1em + 1vw);
        position: relative;
        left: 33%;
        width: 60%;
        height: 20%;
        top: 50px;
      }
  
      .nav-item{
        position: relative;
        right: 5%;
      }
  
      .buttonIniciarSesion{
        position: relative;
        right: 5%;
        top: 0px;
        border-radius: 5px;
      }
  
      #div_Contenedor_Noticias{
        top: 100px;
      }
  
      .slideshow-container{
        top: 80px;
      }
  
      .divTreePoints{
        position: relative;
        top: 80px;
      }     

      
      @media screen and (max-width: 1500px) /*Laptop*/
      and (min-width: 280px)
      {        

        #h1_tituloinicio{
          color: #FFFFFF;
          font-size: calc(1em + 1vw);
          position: relative;                    
          height: 20%;
          top: 50px;
          left: 33%;          
        }

        #div_Noticia_Secundario{
          bottom: 350px;
          margin: 10px 1% 0px 1%;          
        }      

        #div_Noticia_Terciario{
          bottom: 328px;
          margin: 10px 1% 0px 1%;
        }

        #div_Contenedor_Noticias{
          top: 100px;
        }

        .slideshow-container{
          top: 80px;
        }

        .divTreePoints{
          position: relative;
          top: 80px;
        }

        .buttonIniciarSesion{
          border-radius: 5px;
        }

        .ft-main-item-nav{
          position: relative;
          top: -185px;
          left: 38%;
        }

        .ft-main-item-nav>ul{
          list-style: none;
        }
        
        @media screen and (max-width: 1300px) /*Demás*/
        and (min-width: 280px){
          #h1_tituloinicio{
            left: 31%;
            width: 60%;
          }

          @media screen and (max-width: 1200px) /*Tablet*/
          and (min-width: 280px)
          {
            .nav{
              width: 70%;
              position: relative;
              left: 28%;
              bottom: 80px;            
            }                    

            .divTreePoints{
              position: relative;
              top: 80px;
            }

            #div_Contenedor_Noticias{
              width: 98%;
              /* height: 250px; */
              margin-bottom: 40px;
              background-color: #b6bacf;
              position: relative;
              left: 1%;
              top: 100px;
            }
            /*Animación Noticias*/
              #div_Noticia_Secundario{
                cursor: pointer;
                width: 50%;
                height: 39%;
                Position: relative;
                bottom: 348px;
                float: right;
                display: block;
                margin: 10px 20px 0px 10px;     
                top: -350px;           
              }
        
              #div_Noticia_Secundario > div{
                height: 0px;
                width: 100%;
                background-color: gray;
                opacity: 0.1;
                position: relative;
                top: 43%;
                Transition: all 1s ease-in-out;
              }
        
              #div_Noticia_Secundario:hover > div{
                height: 70px;
                width: 100%;
                background-color: gray;
                opacity: 0.95;
                position: relative;
                top: -1.5%;
              }
        
              #div_Noticia_Secundario > div > h3{
                opacity: 0;
                transition: all 1.5s ease-in-out;
              }
        
              #div_Noticia_Secundario:hover > div > h3{
                visibility: visible;
                opacity: 1;
              }
        
              #div_Noticia_Terciario{
                cursor: pointer;
                width: 50%;
                height: 39%;
                Position: relative;
                bottom: 330px;
                float: right;
                display: block;
                margin: 10px 20px 0px 10px;
                top: -328px;
              }
        
              #div_Noticia_Terciario > div{
                height: 0px;
                width: 100%;
                background-color: gray;
                opacity: 0.1;
                position: relative;
                top: 68px;
                Transition: all 1s ease-in-out;
              }
        
              #div_Noticia_Terciario:hover > div{
                height: 70px;
                width: 100%;
                background-color: gray;
                opacity: 0.95;
                position: relative;
                top: -1.5%;
              }
        
              #div_Noticia_Terciario > div > h3{
                opacity: 0;
                transition: all 1.5s ease-in-out;
              }
        
              #div_Noticia_Terciario:hover > div > h3{
                visibility: visible;
                opacity: 1;
              }
        
              .h3_Titulo_Noticia{
                visibility: hidden;
                transition: all 1s ease-in-out;
              }
            /*=====================*/

            .slideshow-container{
              width: 98%;
              top: 90px;
            }

            .buttonIniciarSesion{
              border-radius: 5px;
            }

            .footer-links{  
              width: 95%;
            }

            @media screen and (max-width: 1024px)
            and (min-width: 280px){
              #h1_tituloinicio{
                left: 28%;
              }

              @media screen and (max-width: 1000px) /*Celular*/
              and (min-width: 280px)
              {  
                /*Fin Panel de Noticias*/                                
                  .justify-content-end{
                    visibility: hidden;
                  }                              

                  .prev,
                  .next{
                    top: 170px;                  
                  }                  
              
                  /*INICIA MENU MOVIL*/
              
                  .main-header {
                    visibility: visible;
                    display: flex;
                    float:right;
                    margin-top: -2px;
                    justify-content: space-between;
                    align-items: center;                    
                    padding: 0 0.4rem;
                  }
              
                  .main-logo {
                    color: black;
                    font-size: 32px;
                    text-decoration: none;
                  }
                  .main-nav {
                    position: fixed;
                    top: 0;
                    left: -80px;
                    height: 100%;
                    width: 100%;
                    margin-left: -100%;
                    transition: all 0.2s linear;
                    z-index: 1;
                    background-color: rgba(0, 0, 0, 0.7);
                  }
              
                  .main-nav.show {
                    margin-left: -20%;
                    width: 145%;
                  }

                  .nav-links {
                    background-color: #102461b0;
                    display: flex;
                    flex-direction: column;
                    width: 38%;
                    height: 100%;
                    align-items: center;
                    position: relative;              
                  }
              
                  .nav-links > button{
                    position: relative;
                    left: 20%;
                    top: 20px;
                    width: 30%;
                  }
              
                  .link-item {
                    margin-top: 2rem;
                    color: #ffffff;
                    text-decoration: none;                    
                    font-weight: bold;
                    position: relative;
                    left: 18%;
                    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                  }
                  
                  .link-item:nth-child(1){
                    position: relative;
                    left: 10%;
                  }

                  .link-item:nth-child(2){
                    position: relative;
                    left: 11%;
                  }                  
              
                  .link-item-session{
                    margin-top: 1rem;
                    color: #ffffff;
                    text-decoration: none;
                    font-weight: bold;
                    display: inline;
                    text-align: center;
                  }
              
                  #link-item-session1{
                    position: relative;
                    left: 20px;
                  }
              
                  #link-item-session2{
                    position: relative;
                    left: 230px;
                    bottom: 0px;
                  }
              
                  .button-menu {
                    z-index: 200;
                    width: 40px;
                    height: 40px;
                    border: none;
                    display: flex;
                    background: none;
                    flex-direction: column; /* Pondrá un span debajo del otro*/
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    position: relative;
                    right: 150%;
                    bottom: 130px;                    
                  }
              
                  #divTituloInicial>p{
                    font-size: 35px;
                    position: relative;
                    left: 0%;
                  }
                  /*
                    Dibujamos una línea recta por cada span creando el tipico menu hamburguesa
                  */
              
                  .button-menu span {
                    width: 37px;
                    height: 4px;
                    margin-bottom: 5px;
                    position: relative;
                    background: #ffffff;
                    border-radius: 3px;
                    transform-origin: 4px 0px;
                    transition: all 0.2s linear;
                  }
              
                  /*
                    con los span dibujamos un icono de cerrar
                    para mostrar cuándo la navegación este abierta
                  */
              
                  .button-menu.close span {
                    opacity: 1;
                    transform: rotate(45deg) translate(0px, 0px);
                    background: #ffffff;
                  }
              
                  .button-menu.close span:nth-child(2) {
                    transform: rotate(-45deg) translate(-8px, 5px);
                  }
              
                  .button-menu.close span:nth-child(3) {
                    display: none;
                  }
              
                  /*BOTON LOGIN/ PERFIL USUARIO ESPECIAL PARA MENU MOVIL*/
                  .btn-login{
                    background-color: transparent;
                    border-color: white;
                    border-radius: 5px;
                    height: 40px;
                    margin-top: 10px;
                    margin-right: 10px;
                    width: 80%;
                  }
              
                  /*TERMINA MENU MOVIL*/
              
                  /*Fin Nav Menu Movil Iniciar Sesion*/
              
                  /*Inicio Texto 'Sistema de Gestión de Eventos FCYS' */
                  #fondo{
                    height: 50px;
                    width: 100%;
              
                  }
              
                  #h1_tituloinicio{
                    font-size: calc(1em + 1vw);
                    position: absolute;
                    left: 10%;
                    top: 65px;
                    width: 80%;
                    font-size: 30px;
                    text-align: center;
                  }
                  /*Fin Texto 'Sistema de Gestión de Eventos FCYS' */
              
                  /*Inicio Slider Show*/
                  .slideshow-container {
                    width: 97%;
                    position: relative;
                    margin: auto;
                  }
              
                  .mySlides > img{
                    height: 300px;
                  }
                  /*Fin Slider Show*/
              
                  /*Inicio Panel de Noticias*/
                  #div_Contenedor_Noticias{
                    width: 98%;
                    height: 700px;
                    left: 1%;
                  }
              
                  #div_Contenedor_Noticia_Principal{
                    cursor: pointer;
                    height: 200px;
                    width: 95.5%;
                    position: relative;
                    left: 25px;
                    top: 15px;
                    cursor: pointer;
                  }
              
                  #div_Contenedor_Noticia_Principal > div{
                    height: 1px;
                    width: 100%;
                    background-color: gray;
                    opacity: 0.1;
                    position: relative;
                    Top: 95px;
                    Transition: all 1s ease-in-out;
                    overflow: hidden;
                  }
              
                  #div_Contenedor_Noticia_Principal:hover > div{
                    height: 101px;
                    width: 100%;
                    background-color: gray;
                    opacity: 0.95;
                    position: relative;
                    top: -5px;
                  }
              
                  #div_Noticia_Secundario{
                    cursor: pointer;
                    height: 200px;
                    width: 95.5%;
                    Position: relative;
                    top: 10px;
                    float: right;
                    display: block;
                    margin: 10px 10px 0px 10px;
                  }
              
                  #div_Noticia_Secundario > div{
                    height: 0px;
                    width: 100%;
                    background-color: gray;
                    opacity: 0.1;
                    position: relative;
                    top:117px;
                    Transition: all 1s ease-in-out;
                  }
              
                  #div_Noticia_Secundario:hover > div{
                    height: 136px;
                    width: 100%;
                    background-color: gray;
                    opacity: 0.95;
                    position: relative;
                    top: -10%;
                  }
              
                  #div_Noticia_Terciario{
                    cursor: pointer;
                    height: 200px;
                    width: 95.5%;
                    Position: relative;
                    top: 30px;
                    float: right;
                    display: block;
                    margin: 10px 10px 0px 10px;
                  }
              
                  #div_Noticia_Terciario > div{
                    height: 0px;
                    width: 100%;
                    background-color: gray;
                    opacity: 0.1;
                    position: relative;
                    top: 58%;
                    Transition: all 1s ease-in-out;
                  }
              
                  #div_Noticia_Terciario:hover > div{
                    height: 136px;
                    width: 100%;
                    background-color: gray;
                    opacity: 0.95;
                    position: relative;
                    top: -10%;
                  }                            
              
                  #fondo{
                    left: 0%;
                  }            
              
                  .div_Contenedor_Noticia_Secundario{
                    position: relative;
                    right: 9px;
              
                    background-color: black;
                  }
              
                  #div_Noticia_Secundario{
                    bottom: 228px;
                    margin: 15px 10px 0px 10px;
                  }                                              
              
                  .ft-main-item-nav{
                    position: relative;
                    top: -35px;
                    left: -24%;
                  }
              
                  .ft-main-item-nav>ul{
                    list-style: none;
                  }
                
                  .buttonIniciarSesion{
                    border-radius: 5px;
                    background-color: black;
                    position: relative;
                    left: -100%;
                  }
              
                  /* Inicio Footer*/
                    .site-footer{
                      padding-bottom:0
                    }
              
                    .site-footer .copyright-text{
                      text-align:left;
                    }
              
                    .social-icons li.title{
                      display:block;
                      margin-right:0;
                      font-weight:600
                    }
              
                    .footer-links li{
                      margin-right: 0px;
                    }
              
                    .site-footer .social-icons{
                      text-align:right;    
                    }
              
                    .copyright-text{
                      width: 350px;
                      margin-bottom: 10px;
                    }
                  /* Fin Footer*/

                    @media screen and (max-width: 990px)
                    and (min-width: 975px){
                      .button-menu {                        
                        position: relative;                        
                        bottom: 129px;                    
                      }
                    }
                   
                    @media screen and (max-width: 974px) 
                    and (min-width: 280px){

                      #div_Contenedor_Noticia_Principal{                        
                        left: 23px;                        
                      }

                      .button-menu{
                        position: relative;
                        bottom: 130px;                        
                      }

                      .slideshow-container{                      
                        position: relative;  
                        top: 60px;
                      }                    

                      #h1_tituloinicio{
                        top: 45px;
                      }

                      .prev,
                      .next{
                        top: 170px;                  
                      }                                           

                      @media screen and (max-width: 905px)
                      and (min-width: 280px){
                        .button-menu{
                          position: relative;
                          bottom: 185px;                        
                        }

                        .prev,
                        .next{
                          top: 220px;                  
                        } 
                        
                        #h1_tituloinicio{
                          top: 65px;
                        }

                        #div_Contenedor_Noticia_Principal{                        
                          left: 20px;                        
                        }

                        @Media screen and (max-width: 900px)
                        and (min-width: 280px){
                          
                          .nav-links {
                            background-color: #102461b0;
                            display: flex;
                            flex-direction: column;
                            width: 42%;
                            height: 100%;
                            align-items: center;
                            position: relative;              
                          }                      
                            
                          @media screen and (max-width: 819px)
                          and (min-width: 280px){
                            #div_Contenedor_Noticia_Principal{                        
                              left: 17px;                        
                            }

                            .button-menu{
                              position: relative;
                              bottom: 185px;
                            }                            

                            .link-item:nth-child(3){
                              left: 19%;
                            }

                            @media screen and (max-width: 767px)
                            and (min-width: 280px){
                                                                                                                                            
                              #div_Contenedor_Noticia_Principal{
                                left: 14px;
                                top: 15px;
                              }
                          
                              #fondo{
                                left: 0;
                              }
                          
                              .nav-links {
                                width: 45%;
                              }
                          
                              .ft-main-item-nav{
                                position: relative;
                                top: 23px;
                                left: -12%;
                              }
                          
                              .ft-main-item-nav>ul{
                                list-style: none;
                              }
                            
                              /*Inicio Footer*/
                                .site-footer
                                {
                                  padding-bottom:0
                                }
                                .site-footer .footer-links{
                                  text-align: left;
                                  margin: 10px;
                                  
                                }
                                .site-footer hr
                                {
                                  border-top-color:rgb(255, 255, 255);
                                  margin-top: 10px;
                                  opacity:0.5
                                }
                                
                                .site-footer .copyright-text
                                {
                                  text-align:center;
                                  margin-left: 50px;
                                }
                          
                                /*Reemplazo para configurar los iconos*/
                                  .site-footer .social-icons
                                  {
                                    text-align:right;          
                                    margin-top: -340px;
                                    margin-left: 0px;
                                    position: relative;
                                    left: 270%;
                                  }                
                                /*Fin, Reemplazo para configurar los iconos*/
                                
                                .copyright-text
                                {
                                  width: 350px;
                                  margin-left: -10px;
                                  margin-bottom: 10px;
                                }
                          
                                /*Lo nuevo agregado necesario para la vista index*/
                                  .row{          
                                    width: 90%;
                                  }        
                                /*Fin, Lo nuevo agregado necesario para la vista index*/                         

                                @media screen and (max-width: 742px)
                                and (min-width: 280px){

                                  .button-menu{
                                    position: relative;
                                    bottom: 187px;
                                  }

                                  @media screen and (max-width: 562px)
                                  and (min-width: 546px){
                                    .button-menu{
                                      position: relative;
                                      bottom: 187px;
                                      
                                    }
                                  }

                                  @media screen and (max-width: 690px)
                                  and (min-width: 280px){
                                    #div_Contenedor_Noticia_Principal{                        
                                      left: 11px;                        
                                    }

                                    .nav-links {                                  
                                      width: 50%;                                  
                                    }
                                    
                                    @media screen and (max-width: 595px)
                                    and (min-width: 280px){

                                      #div_Contenedor_Noticia_Principal{                        
                                        left: 7px;                        
                                      }  

                                      .nav-links {                                  
                                        width: 55%;                                  
                                      }

                                      .link-item:nth-child(2){
                                        left: 12%;
                                      }

                                      .link-item:nth-child(3){
                                        left: 20%;
                                      }

                                      @media screen and (max-width: 545px)
                                      and (min-width: 280px){
                                        #div_Contenedor_Noticia_Principal{                        
                                          left: 5px;                        
                                        }  
  
                                        .button-menu{
                                          position: relative;
                                          bottom: 187px;                                 
                                        }
        
                                        @media screen and (max-width: 532px)
                                        and (min-width: 521px){
                                          .site-footer .social-icons
                                          {
                                            text-align:right;          
                                            margin-top: -340px;
                                            margin-left: 0px;
                                            position: relative;
                                            left: 260%;
                                          }                
                                        }
                                          
                                        @media screen and (max-width: 520px)
                                        and (min-width: 280px){                              
                                      
                                          #fondo{
                                            left: 0;
                                          }                                                                                                                                      
                                      
                                          .prev:hover,
                                          .next:hover {
                                            background-color: rgba(0, 0, 0, 0.8);
                                            color: white !important;
                                          }
                                      
                                          #div_Contenedor_Noticia_Principal{
                                            left: 4px;
                                            top: 15px;
                                          }                                      

                                          .link-item:nth-child(1){
                                            position: relative;
                                            left: -1%;
                                            
                                          }
                        
                                          .link-item:nth-child(2){
                                            position: relative;
                                            left: 1%;
                                          }
                                          
                                          .link-item:nth-child(3){
                                            position: relative;
                                            left: 10%;                                        
                                          }

                                          .nav-links > button{
                                            left: 9%;
                                          }
                                      
                                          .nav-links {
                                            width: 60%;                                        
                                          }
                                      
                                          .main-nav {
                                            left: -70px;
                                          }                                    
                                      
                                          #fondo{
                                            left: 0;
                                          }                                                                      
                                      
                                          .ft-main-item-nav{
                                            position: relative;
                                            top: 25px;
                                            left: -12%;
                                          }
                                      
                                          .ft-main-item-nav>ul{
                                            list-style: none;
                                          }  
                                      
                                          /*Incio Footer*/
                                            .site-footer
                                            {
                                              padding-bottom:0;
                                            }
                                            .site-footer .footer-links{
                                                text-align: left;
                                                margin: 10px;
                                                
                                            }
                                            .site-footer .copyright-text
                                            {
                                              text-align:left;
                                            }
                                            /*Reemplazo para configurar los iconos*/
                                            .site-footer .social-icons
                                            {
                                              text-align:right;          
                                              margin-top: -340px;
                                              margin-left: 0px;
                                              position: relative;
                                              left: 250%;
                                            }                
                                            /*Fin, Reemplazo para configurar los iconos*/
                                      
                                            .copyright-text
                                            {
                                              margin-bottom: 10px;
                                            }
                                      
                                            /*Lo nuevo agregado necesario para la vista index*/
                                              .row{          
                                                width: 90%;
                                              }        
                                            /*Fin, Lo nuevo agregado necesario para la vista index*/

                                            @media screen and (max-width: 502px)
                                            and (min-width: 280px){
                                              .button-menu{
                                                position: relative;
                                                bottom: 242px;                                 
                                              }

                                              .prev,
                                              .next{
                                                top: 280px;
                                              }
                                              @media screen and (max-width: 500px)
                                              and (min-width: 481px){
                                                .site-footer .social-icons
                                                {
                                                  text-align:right;          
                                                  margin-top: -340px;
                                                  margin-left: 0px;
                                                  position: relative;
                                                  left: 230%;
                                                }  
                                              }                                          
          
                                              @media screen and (max-width: 480px)
                                              and (min-width: 280px){
                                            
                                                #fondo{
                                                  left: 0;
                                                }                                                                                                                                
                                                                                            
                                                #div_Contenedor_Noticia_Principal{
                                                  left: 2.5%;
                                                  top: 10px;
                                                }
                                            
                                                #div_Noticia_Secundario{
                                                  left: 0%;
                                                }
                                            
                                                #div_Noticia_Terciario{
                                                  left: 0%;
                                                }
                                            
                                                .main-nav {
                                                  left: -60px;
                                                }
                                            
                                                .nav-links {
                                                  width: 62%;
                                                }
                                            
                                                #fondo{
                                                  left: 0;
                                                }                                                                                
                                            
                                                .ft-main-item-nav{
                                                  position: relative;
                                                  top: 50px;
                                                  left: -5%;
                                                }
                                            
                                                .ft-main-item-nav>ul{
                                                  list-style: none;
                                                }
                                            
                                                /*Inicio Footer*/
                                                  .site-footer
                                                  {
                                                    padding-bottom:0
                                                  }
                                                  .site-footer .footer-links{
                                                      text-align: left;
                                                      margin: 10px;
                                                      
                                                  }
                                                  .site-footer .copyright-text
                                                  {
                                                    text-align:center
                                                  }
                                                  /*Reemplazo para configurar los iconos*/
                                                  .site-footer .social-icons
                                                    {
                                                      text-align:right;          
                                                      margin-top: -340px;
                                                      margin-left: 0px;
                                                      position: relative;
                                                      left: 230%;
                                                    }                 
                                                  /*Fin, Reemplazo para configurar los iconos*/
                                                                                
                                                  /*Lo nuevo agregado necesario para la vista index*/
                                                    .row{          
                                                      width: 90%;
                                                    }        
                                                  /*Fin, Lo nuevo agregado necesario para la vista index*/
                                            
                                                @media screen and (max-width: 462px)
                                                and (min-width: 280px){
          
                                                  .site-footer .social-icons
                                                  {
                                                    text-align:right;          
                                                    margin-top: -340px;
                                                    margin-left: 0px;
                                                    position: relative;
                                                    left: 210%;
                                                  } 
                                                  
                                                  #button-menu{
                                                    position: relative;
                                                    bottom: 242px;
                                                    right: 100%;
                                                  }
          
                                                  @media screen and (max-width: 429px)
                                                  and (min-width: 280px){
          
                                                    .copyright-text{
                                                      position: relative;
                                                      right: 7%;
                                                    }                                                              
                                                    
                                                    #h1_tituloinicio{
                                                      top: 80px;
                                                    }
          
                                                    .site-footer .social-icons
                                                    {
                                                      text-align:right;          
                                                      margin-top: -340px;
                                                      margin-left: 0px;
                                                      position: relative;
                                                      left: 190%;
                                                    }                                                               
                                                  
                                                    .nav-links{
                                                      width: 67%;
                                                    }
                                                    
                                                    @media screen and (max-width: 403px)
                                                    and (min-width: 280px){
                                                      #div_Contenedor_Noticia_Principal{                        
                                                        left: 7px;                        
                                                      }  
                
                                                      #button-menu{
                                                        position: relative;
                                                        bottom: 298px;                                                        
                                                      }

                                                      .prev,
                                                      .next {
                                                        top: 340px;
                                                      }

                                                      @media screen and (max-width: 399px)
                                                      and (min-width: 280px){                                        
                                                                                            
                                                        #fondo{
                                                          left: 0;
                                                        }                                                                                                                                                                                                         
                                                    
                                                        #div_Contenedor_Noticia_Principal{
                                                          left: 2.5%;
                                                          top: 10px;
                                                        }
                                                    
                                                        #div_Noticia_Secundario{
                                                          left: 1%;
                                                        }
                                                    
                                                        #div_Noticia_Terciario{
                                                          left: 1%;
                                                        }
                                                    
                                                        .main-nav {
                                                          left: -60px;
                                                        }
                                                    
                                                        .nav-links {
                                                          width: 70%;
                                                        }

                                                        .link-item:nth-child(3){
                                                          left: 11%;
                                                        }
                                                    
                                                        #fondo{
                                                          left: 0;
                                                        }                                            
                                                    
                                                        .ft-main-item-nav{
                                                          position: relative;
                                                          top: 50px;
                                                          left: -5%;
                                                        }
                                                    
                                                        .ft-main-item-nav>ul{
                                                          list-style: none;
                                                          width: 100%;
                                                        }
                                                    
                                                        /*Inicio Footer*/
                                                          .site-footer
                                                          {
                                                            padding-bottom:0
                                                            
                                                          }
                                                          .site-footer .footer-links{
                                                              text-align: left;
                                                              margin: 10px;
                                                              font-size:14px;
                                                              
                                                          }
                                                          .site-footer .copyright-text
                                                          {
                                                            text-align:center;
                                                          }
                                                          /*Reemplazo para configurar los iconos*/
                                                            .site-footer .social-icons
                                                            {
                                                              text-align:right;          
                                                              margin-top: -340px;
                                                              margin-left: 0px;
                                                              position: relative;
                                                              left: 170%;
                                                            }                 
                                                          /*Fin, Reemplazo para configurar los iconos*/
                                                          .copyright-text
                                                          {
                                                            margin-bottom: 10px;
                                                            position: relative;
                                                            right: 14%;
                                                          }
                                                    
                                                          /*Lo nuevo agregado necesario para la vista index*/
                                                          .row{          
                                                            width: 90%;
                                                          }        
                                                          /*Fin, Lo nuevo agregado necesario para la vista index*/
                                                        /*Fin Footer*/
            
                                                        @media screen and (max-width: 390px)
                                                        and (min-width: 280px){
                                                          #button-menu {                                          
                                                            bottom: 298px; 
                                                          } 
            
                                                          #h1_tituloinicio{
                                                            top: 100px;
                                                          }                                                                      

                                                          .nav-links > button{
                                                            width: 42%;
                                                            left: 14%;
                                                          }
            
                                                          @media screen and (max-width: 376px)
                                                          and (min-width: 280px){
                                                            
                                                            .copyright-text
                                                            {
                                                              margin-bottom: 10px;
                                                              position: relative;
                                                              right: 20%;
                                                            }
            
                                                            @media screen and (max-width: 371px)
                                                            and (min-width: 280px){
                                                              /*Inicio Footer*/
                                                                .site-footer
                                                                {
                                                                  padding-bottom:0
                                                                  
                                                                }
                                                                .site-footer .footer-links{
                                                                  text-align: left;
                                                                  margin: 15px;
                                                                  font-size:14px;                                                            
                                                                }

                                                                .nav-links{
                                                                  width: 75%;
                                                                }
            
                                                                #button-menu{
                                                                  right: 70%;
                                                                }
            
                                                                .site-footer .copyright-text
                                                                {
                                                                  text-align:center;
                                                                }
                                                          
                                                                /*Reemplazo para configurar los iconos*/
                                                                  .site-footer .social-icons
                                                                  {
                                                                    text-align:right;          
                                                                    margin-top: -380px;
                                                                    margin-left: 0px;
                                                                    position: relative;
                                                                    left: 150%;
                                                                  }                 
                                                                /*Fin, Reemplazo para configurar los iconos*/
                                                          
                                                                .copyright-text
                                                                {            
                                                                  margin-bottom: 10px;
                                                                  width: 110%;        
                                                                }
                                                          
                                                                /*Lo nuevo agregado necesario para la vista index*/
                                                                .row{          
                                                                  width: 100%;
                                                                }        
                                                                /*Fin, Lo nuevo agregado necesario para la vista index*/                                              
            
                                                                @media screen and (max-width: 343px)
                                                                and (min-width: 280px){

                                                                  /*Para redirigir a la página de la UNI*/
                                                                    #sectionLinkUni{  
                                                                      background: linear-gradient(171deg, rgba(255,255,255,1) 0%, rgba(16,36,97,1) 35%, rgba(16,36,97,1) 100%);
                                                                      width: 160px;   
                                                                      height: 40px; 
                                                                      border-top-right-radius: 15px;
                                                                      border-bottom-left-radius: 15px;
                                                                      border-color: white;
                                                                      border-width: 1px;
                                                                      border-style: solid;
                                                                      position: relative;
                                                                      left: 5%;
                                                                      top: 10px;      
                                                                    }

                                                                    #sectionLinkUni:hover{
                                                                      cursor: pointer;
                                                                    }

                                                                    .linkUni{
                                                                      display: inline-block;  
                                                                      margin-left: 0px;
                                                                      color: white; 
                                                                      position: relative; 
                                                                      bottom: -5px;
                                                                      right: 110px;
                                                                    }

                                                                    .linkUni:nth-child(1){    
                                                                      position: absolute;
                                                                      bottom: 8px;
                                                                      left: 10px;
                                                                      
                                                                    }

                                                                    .linkUni:nth-child(2){    
                                                                      margin-left: 5px;  
                                                                      border-left-style: solid;
                                                                      border-left-color: white;
                                                                      border-left-width: 2px;
                                                                      padding-left: 8px;
                                                                      position: relative;
                                                                      left: 45px;
                                                                      bottom: 3px;
                                                                    }
                                                                  /*=====================================*/

                                                                  /*Inicio Footer*/
                                                                    .site-footer
                                                                    {
                                                                      padding-bottom:0        
                                                                    }
                                                              
                                                                    .site-footer .footer-links{
                                                                        text-align: left;
                                                                        margin: 10px;
                                                                        font-size:14px;          
                                                                    }
                                                              
                                                                    .site-footer .copyright-text
                                                                    {
                                                                      text-align:center;
                                                                    }                                                    
                                                                    
                                                                    .logo{
                                                                    margin-left: 20px; 
                                                                    }
                                                              
                                                                    /*Reemplazo para configurar los iconos*/
                                                                      .site-footer .social-icons
                                                                      {
                                                                        text-align:right;          
                                                                        margin-top: -370px;
                                                                        margin-left: 0px;
                                                                        position: relative;
                                                                        left: 140%;
                                                                      }                 
                                                                    /*Fin, Reemplazo para configurar los iconos*/                                                                                                  
                                                              
                                                                    /*Lo nuevo agregado necesario para la vista index*/
                                                                    .row{          
                                                                      width: 105%;      
                                                                    } 
                                                                    

                                                                    @media screen and (max-width: 339px)
                                                                    and (min-width: 280px){
                                                                      #button-menu {                                          
                                                                        bottom: 324px; 
                                                                      } 

                                                                      .prev,
                                                                      .next {
                                                                        top: 360px;
                                                                      }

                                                                      @media screen and (max-width: 330px)
                                                                      and (min-width:280px){

                                                                        /*Para redirigir a la página de la UNI*/
                                                                          #sectionLinkUni{  
                                                                            background: linear-gradient(171deg, rgba(255,255,255,1) 0%, rgba(16,36,97,1) 35%, rgba(16,36,97,1) 100%);
                                                                            width: 160px;   
                                                                            height: 40px; 
                                                                            border-top-right-radius: 15px;
                                                                            border-bottom-left-radius: 15px;
                                                                            border-color: white;
                                                                            border-width: 1px;
                                                                            border-style: solid;
                                                                            position: relative;
                                                                            left: 5%;
                                                                            top: 10px;      
                                                                          }

                                                                          #sectionLinkUni:hover{
                                                                            cursor: pointer;
                                                                          }

                                                                          .linkUni{
                                                                            display: inline-block;  
                                                                            margin-left: 0px;
                                                                            color: white; 
                                                                            position: relative; 
                                                                            bottom: -5px;
                                                                            right: 110px;
                                                                          }

                                                                          .linkUni:nth-child(1){    
                                                                            position: absolute;
                                                                            bottom: 8px;
                                                                            left: 10px;
                                                                            
                                                                          }

                                                                          .linkUni:nth-child(2){    
                                                                            margin-left: 5px;  
                                                                            border-left-style: solid;
                                                                            border-left-color: white;
                                                                            border-left-width: 2px;
                                                                            padding-left: 8px;
                                                                            position: relative;
                                                                            left: 45px;
                                                                            bottom: 3px;
                                                                          }
                                                                        /*=====================================*/

                                                                        @media screen and (max-width: 318px)
                                                                        and (min-width: 311px){
                                                                          .row{          
                                                                            width: 110%;                          
                                                                          } 
                                                                  
                                                                          .copyright-text
                                                                          {                                                                                      
                                                                            bottom: 7px;
                                                                            width: 105%;
                                                                            font-size: 13px;
                                                                          }
                                                                          
                                                                          .site-footer .social-icons
                                                                          {
                                                                            text-align:right;          
                                                                            margin-top: -370px;
                                                                            margin-left: 0px;
                                                                            position: relative;
                                                                            left: 130%;
                                                                          }   
                                                                          
                                                                          .nav-links{
                                                                            width: 80%;
                                                                          }
                
                                                                          .nav-links > button{                                                          
                                                                            width: 49%;
                                                                            left: 16%;
                                                                          }
                                                                        } 
                
                                                                        @media screen and (max-width: 310px)
                                                                        and (min-width: 280px){
                                                                            
                                                                          #button-menu{
                                                                            right: 35%;
                                                                          }

                                                                          .nav-links{
                                                                            width: 80%;
                                                                          }
                
                                                                          .nav-links > button{                                                          
                                                                            width: 49%;
                                                                            left: 16%;
                                                                          }
                
                                                                          /*Inicio Footer*/
                                                                            .site-footer
                                                                            {
                                                                              padding-bottom:0        
                                                                            }
                                                                      
                                                                            .site-footer hr
                                                                            {
                                                                              border-top-color:rgb(255, 255, 255);
                                                                              margin-top: 60px;
                                                                              opacity:0.5
                                                                            }
                                                                      
                                                                            .site-footer .footer-links{
                                                                              text-align: left;
                                                                              margin: 10px;
                                                                              font-size:14px;          
                                                                            }
                                                                      
                                                                            .site-footer .copyright-text
                                                                            {
                                                                              text-align:center;
                                                                            }
                                                                      
                                                                            /*Reemplazo para configurar los iconos*/
                                                                              .site-footer .social-icons
                                                                              {
                                                                                text-align:right;          
                                                                                margin-top: -380px;
                                                                                margin-left: 0px;
                                                                                position: relative;
                                                                                left: 120%;
                                                                              }                 
                                                                            /*Fin, Reemplazo para configurar los iconos*/
                                                                      
                                                                            .copyright-text
                                                                            {            
                                                                              margin-bottom: 10px; 
                                                                              font-size: 13px;                                                          
                                                                              right: 24%;
                                                                            }
                                                                      
                                                                            /*Lo nuevo agregado necesario para la vista index*/
                                                                            .row{          
                                                                              width: 110%;        
                                                                            }        
                                                                            /*Fin, Lo nuevo agregado necesario para la vista index*/
                                                                            @media screen and (max-width: 286px)
                                                                            and (min-width: 280px){
                                                                              #div_Contenedor_Noticia_Principal{                        
                                                                                left: 5px;                        
                                                                              }  
                                                                                                                      
                                                                              #button-menu{                                                                              
                                                                                right: 15%;
                                                                              }
                
                                                                              .site-footer .social-icons
                                                                              {
                                                                                text-align:right;          
                                                                                margin-top: -383px;
                                                                                
                                                                                position: relative;
                                                                                left: 110%;
                                                                              } 

                                                                              .link-item:nth-child(3){
                                                                                left: 13%;
                                                                              }
                                                                            }
                                                                          /*Fin Footer*/
                                                                        }

                                                                      }                                                                      

                                                                    }
                                                                    
                                                                }   
                                                            }
            
                                                          }                                         
            
                                                        }
                                                        
                                                      }

                                                    }                                                   
          
                                                  } 
          
                                                }                                  
                                                
                                              }


                                            }                                                                                
        
                                        }
        
                                      } 

                                    }                                 

                                  } 

                                }                                                                                      
                            
                            }   

                          } 
                                                                              
                        } 

                      }                                            
                                      
                    }                                                                           

              } 

            }                         

          }

        }             
        
      }

    }

  }
  
}







