  header{
  background-color: #102461;
  height: 70px
}
.logo{
  width: 30%;
  height: 70px;
  float: left;
  margin-top: 9px;
  margin-left: 40px;
}
/* Importante Ocultar Menu Movil*/
.main-header{
  display: none;  
}
#mosaicoDER{
  float: right;
  width: 120px;
  height: 120px;
}
.menu_general ul{
  margin-right: 60px;
}
.menu_general li{
  margin-top: 15px;
  margin-right: 60px; 
}
#texto{
  color: white;
}
button{
  background-color: transparent;
  border-color: white;
  border-radius: 5px;
  height: 40px;
  margin-top: 15px;
  width: 13%;
}
body{
  background-color: #FFFFFF;
}
.h4{
  margin-left: 20%;
  margin-top: 20px;
  color: #102461; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 800; 
} 
.cuadro_fondo2{
  background-color: #b7c8e8;    
  width: 56%;
  height: 190px; 
  margin-left: 23%;
  margin-top: 5%;
  border-radius: 10px;
  padding: 5px;       
}
.cuadro{
  background-color: #86a2da;
  width: 98%;
  height: 160px;
  text-align: justify;
  border-radius: 10px;
  padding: 15px;    
  display: flex;
  margin: 1%;
}
.cuadro p{
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-size: 120%;
  font-weight:500;
}
#mosaicoIZQ{
  width: 120px;
  height: 120px;
  position: absolute;
}
/************************************************************************* INICIA FOOTER*/
.site-footer
{
  background-color: #102461;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#ffffff;
  margin-top: 5%;
  font-family: 'Montserrat', sans-serif, serif;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer .footer-links .fa{
  color: #ffffff;
  margin-right: 15px;
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h2
{
  color: #fff;
  font-family: 'Montserrat', sans-serif, serif;
  font-size:  150%;
  padding-bottom: 0.625rem;
  list-style:none; 
}
.site-footer a
{
  color: #fff;
  font-family: 'Montserrat', sans-serif, serif;
  font-size: 95%;
  padding-bottom: 0.625rem;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block;
  margin-top: 15px;
  margin-right: 60px; 
}
.footer-links a
{
  color:#ffffff
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#ffffff;
  color:#102461;
}
.copyright-text
{
  margin:0
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
  margin-left: 10px;
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#00476b;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.global:hover
{
  background-color:#00aced
}
/****************************************************************************************PC 1*/
@media screen and (max-width: 2000px) and (min-width: 1801px) /*PC*/
{}
/*****************************************************************************************PC 2*/
@media screen and  (max-width: 1800px)and (min-width: 1650px)/*PC*/
{
#mosaicoIZQ{
  position:relative;
  margin-bottom: -85px;
}  
}
/******************************************************************************************PC 3*/
@media screen and  (max-width: 1649px)and (min-width: 1501px) /*PC*/
{
.cuadro_fondo2{
  background-color: #b7c8e8;    
  width: 56%;
  height: 190px; 
  margin-left: 23%;
  margin-top: 5%;
  border-radius: 10px;
  padding: 5px;       
}
.cuadro{
  background-color: #86a2da;
  width: 98%;
  height: 160px;
  text-align: justify;
  border-radius: 10px;
  padding: 15px;    
  display: flex;
  margin: 1%;
}  
.cuadro p{ 
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-size: 110%;
  font-weight:500;
}
#mosaicoIZQ{
  position:relative;
  margin-bottom: -78px;
} 
}
/*****************************************************************************************LAPTOP*/
@media screen and (max-width: 1500px) and (min-width: 1201px)
{
/* Importante Ocultar Menu Movil*/
/*
.main-header{
display: none;  
}
.menu_movil{display: none;}
*/
button{
  background-color: transparent;
  border-color: white;
  border-radius: 5px;
  height: 40px;
  margin-top: 15px;
  width: 15%;
}
.cuadro_fondo2{
  background-color: #b7c8e8;    
  width: 65%;
  height: 190px; 
  margin-left: 20%;
  margin-top: 5%;
  border-radius: 10px;
  padding: 5px;       
}
.cuadro{
  background-color: #86a2da;
  width: 98%;
  height: 160px;
  text-align: justify;
  border-radius: 10px;
  padding: 15px;    
  display: flex;
  margin: 1%;
}  
.cuadro p{
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-size: 110%;
  font-weight:500;
}
#mosaicoIZQ{
  position:relative;
  margin-bottom: -65px;
}

}
/************************************************************************************ TABLET */
@media screen and  (max-width: 1200px) and (min-width: 1001px) /*Tablet*/
{
.logo{
  width: 30%;
  height: 70px;
  float: left;
  margin-top: 9px;
  margin-left: 20px;
}
button{
  background-color: transparent;
  border-color: white;
  border-radius: 5px;
  height: 40px;
  margin-top: 15px;
  width: 110px;
}
.h4{
  margin-left: 15%;
  margin-top: 20px;
  color: #102461; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 800; 
} 
.cuadro_fondo2{
  background-color: #b7c8e8;    
  width: 70%;
  height: 190px; 
  margin-left: 15%;
  margin-top: 8%;
  border-radius: 10px;
  padding: 5px;       
}
.cuadro{
  background-color: #86a2da;
  width: 98%;
  height: 160px;
  text-align: justify;
  border-radius: 10px;
  padding: 15px;    
  display: flex;
  margin: 1%;
}  
.cuadro p{
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-size: 110%;
  font-weight:500;
}
#mosaicoIZQ{
  position:relative;
  margin-bottom: -55px;
}
}
/************************************************************************************* MOVIL  1  */
@media screen and (max-width: 1000px)and (min-width: 768px)
{
.justify-content-end{
  display:none;
}
.main-header {
  display: flex;
  float:right;
  margin-top: -2px;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 0 0.4rem;
}
.main-logo {
  color: black;
  font-size: 32px;
  text-decoration: none;
}
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  transition: all 0.2s linear;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}
.main-nav.show {
  margin-left: 0;
}
.nav-links {
  background-color: #102461b0;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  align-items: left;
  justify-content: flex-start;
}
.link-item {
  margin-top: 2.5rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  margin-left: 40px;
  
}

.main-nav button{
  background-color: transparent;
  border-color: white;
  font-weight: bold;
  border-radius: 5px;
  height: 50px;
  margin-top: 45px;
  width: 60%;
  margin-left: 40px;
}
.button-menu {
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column; /* Pondrá un span debajo del otro*/
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.button-menu span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  transform-origin: 4px 0px;
  margin-right: 20px;
  transition: all 0.2s linear;
}
.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #ffffff;
}
.button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-8px, 5px);
}
.button-menu.close span:nth-child(3) {
  display: none;
}
.btn-login{
  background-color: transparent;
  border-color: white;
  border-radius: 5px;
  height: 40px;
  margin-top: 10px;
  margin-right: 10px;
  width: 80%;
}
#mosaicoDER{
  float: right;
  width: 90px;
  height: 90px;
  margin-top: 0px;
}
.h4{
  margin-left: 15%;
  margin-top: 50px;
  color: #102461; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 800; 
} 
.cuadro_fondo2{
  background-color: #b7c8e8;    
  width: 85%;
  height: 335px; 
  margin-left: 10%;
  margin-top: 8%;
  border-radius: 10px;
  padding: 10px;    
}
.cuadro{
  background-color: #86a2da;
  color: black;
  width: 95%;
  height: 295px;
  text-align:center ;
  border-radius: 15px;
  padding: 26px;    
  display: flex;
  margin: 2%;
}
.cuadro p{
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-size: 130%;
  font-weight:500;
}
#mosaicoIZQ{
  position:relative;
  margin-bottom: -40px;
  width: 90px;
  height: 90px;
}
}
/************************************************************************************Movil 2 */
@media screen and (max-width: 767px) and (min-width: 521px)
{
.justify-content-end{
  display:none;
}
.main-header {
  display: flex;
  float:right;
  margin-top: -2px;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 0 0.4rem;
}
.main-logo {
  color: black;
  font-size: 32px;
  text-decoration: none;
}
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  transition: all 0.2s linear;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}
.main-nav.show {
  margin-left: 0;
}
.nav-links {
  background-color: #102461b0;
  display: flex;
  flex-direction: column;
  width:40%;
  height: 100%;
  align-items: left;
  justify-content: flex-start;
}
.link-item {
  margin-top: 2rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  margin-left: 40px;
}
.main-nav button{
  background-color: transparent;
  border-color: white;
  font-weight: bold;
  border-radius: 5px;
  height: 40px;
  margin-top: 45px;
  width: 60%;
  margin-left: 40px;
}
.button-menu {
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column; /* Pondrá un span debajo del otro*/
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.button-menu span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  margin-right: 20px;
  transform-origin: 4px 0px;
  transition: all 0.2s linear;
}
.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #ffffff;
}
.button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-8px, 5px);
}
.button-menu.close span:nth-child(3) {
  display: none;
}
.btn-login{
  background-color: transparent;
  border-color: white;
  border-radius: 5px;
  height: 40px;
  margin-top: 10px;
  margin-right: 10px;
  width: 80%;
}
#mosaicoDER{
  float: right;
  width: 90px;
  height: 90px;
  margin-top: 0px;
}
.h4{
  margin-left: 15%;
  margin-top: 50px;
  color: #102461; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 800; 
} 
.cuadro_fondo2{
  background-color: #b7c8e8;    
  width: 90%;
  height: 370px; 
  margin-left: 5%;
  margin-top: 8%;
  margin-bottom: 8%;
  border-radius: 10px;
  padding: 10px;    
}
.cuadro{
  background-color: #86a2da;
  width: 98%;
  height: 335px;
  text-align:justify ;
  border-radius: 10px;
  padding: 20px;    
  margin: 1%;
}
.cuadro p{
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-size: 132%;
  font-weight:500;
}
#mosaicoIZQ{
  bottom:38px;
  position:relative;
  margin-bottom: -62px;
  width: 90px;
  height: 90px;
}
.site-footer
{
  padding-bottom:0
}
.site-footer .footer-links{
  text-align: left;
  margin: 10px;
  
}
.site-footer hr
{
  border-top-color:rgb(255, 255, 255);
  margin-top: 10px;
  opacity:0.5
}

.site-footer .copyright-text
{
  text-align:center;
  margin-left: 60px;
}
.site-footer .social-icons
{
  text-align:left;  
  
  margin-top: -250px;
  margin-left: -110px;
}


.copyright-text
{
  width: 350px;
  margin-left: -10px;
  margin-bottom: 10px;
}
}
/*************************************************************************Movil 3****************/
@media screen and (max-width: 520px) and (min-width: 481px)
{
.justify-content-end{
  display:none;
}
.main-header {
  display: flex;
  float:right;
  margin-top: -2px;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 0 0.4rem;
}
button{
  background-color: transparent;
  border-color: white;
  border-radius: 5px;
  height: 40px;
  margin-top: 15px;
  width: 13%;
}
.main-logo {
  color: black;
  font-size: 32px;
  text-decoration: none;
}
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  transition: all 0.2s linear;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}
.main-nav.show {
  margin-left: 0;
}
.nav-links {
  background-color: #102461b0;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  align-items:left;
 
  justify-content: flex-start;
}
.link-item {
  margin-top: 2rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  margin-left: 30px;
}
.main-nav button{
  background-color: transparent;
  border-color: white;
  font-weight: bold;
  border-radius: 5px;
  height: 40px;
  margin-top: 45px;
  width: 60%;
  margin-left: 40px;
}
.button-menu {
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column; /* Pondrá un span debajo del otro*/
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.button-menu span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all 0.2s linear;
}
.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #ffffff;
}
.button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-8px, 5px);
}
.button-menu.close span:nth-child(3) {
  display: none;
}
.btn-login{
  background-color: transparent;
  border-color: white;
  border-radius: 5px;
  height: 40px;
  margin-top: 10px;
  margin-right: 10px;
  width: 80%;
}
#mosaicoDER{
  float: right;
  width: 90px;
  height: 90px;
  margin-top: 0px;
}
.h4{
  margin-left: 15%;
  margin-top: 50px;
  color: #102461; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 800; 
} 
.cuadro_fondo2{
  background-color: #b7c8e8;    
  width: 80%;
  height: 530px; 
  margin-left: 10%;
  margin-top: 8%;
  border-radius: 10px;
  padding: 10px;    
}
.cuadro{
  background-color: #86a2da;
  width: 98%;
  height: 500px;
  text-align:justify ;
  border-radius: 10px;
  padding: 20px;    
  margin: 1%;
}
.cuadro p{
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-size: 132%;
  font-weight:500;
}
#mosaicoIZQ{
  float: left;
  position: relative;
  width: 90px;
  height: 90px;
  bottom: 41px; 
}

.site-footer
    {
      padding-bottom:0
    }
    .site-footer .footer-links{
        text-align: left;
        margin: 10px;
        
    }
    .site-footer .copyright-text
    {
      text-align:left
    }
    .site-footer .social-icons
    {
      text-align:left;  
 
      margin-top: -240px;
      margin-left: -110px;
    }
    .copyright-text
    {
     
    
      margin-bottom: 10px;
    }
}
/**********************************************************************************MOVIL 4*/
@media screen and (max-width: 480px) and (min-width: 400px)
{ 
header{
  background-color: #102461;
  width: 100%;
  height: 70px;
  box-shadow: inset 200px 200px 200px 200px rgba(0, 0, 0, 0.233)   ;
  line-height:0;
}
.logo{
  width: 20%;
  height: 30px;
  float: left;
  margin-top: 9px;
  margin-left: 10px;
}
/* Importante Ocultar Menu General*/
.justify-content-end{
  display:none;
}
/*************************************************INICIA MENU MOVIL*/
.main-header {
  display: flex;
  float:right;
  margin-top: -2px;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 0 0.4rem;
}
.main-logo {
  color: black;
  font-size: 32px;
  text-decoration: none;
}
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  transition: all 0.2s linear;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}
.main-nav.show {
  margin-left: 0;
}
.nav-links {
  background-color: #102461b0;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  align-items: left;
  justify-content: flex-start;
}
.link-item {
  margin-top: 3rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  margin-left: 30px;
}
.main-nav button{
  background-color: transparent;
  border-color: white;
  font-weight: bold;
  border-radius: 5px;
  height: 40px;
  margin-top: 45px;
  width: 60%;
  margin-left: 30px;
}
.button-menu {
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column; /* Pondrá un span debajo del otro*/
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* Dibujamos una línea recta por cada span creando el tipico menu hamburguesa*/
.button-menu span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all 0.2s linear;
}
/* con los span dibujamos un icono de cerrar para mostrar cuándo la navegación este abierta */
.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #ffffff;
}
.button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-8px, 5px);
}
.button-menu.close span:nth-child(3) {
  display: none;
}
/*BOTON LOGIN/ PERFIL USUARIO ESPECIAL PARA MENU MOVIL*/
.btn-login{
  background-color: transparent;
  border-color: white;
  border-radius: 5px;
  height: 40px;
  margin-top: 10px;
  margin-right: 10px;
  width: 80%;
}
/**************************************************************TERMINA MENU MOVIL*/
#mosaicoDER{
  float: right;
  width: 90px;
  height: 90px;
  margin-top: 0px;
}
.h4{
  margin-left: 15%;
  margin-top: 50px;
  color: #102461; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 800; 
} 
.cuadro_fondo2{
  background-color: #b7c8e8;    
  width: 80%;
  height: 590px; 
  margin-left: 10%;
  margin-top: 8%;
  margin-bottom: 8%;
  border-radius: 10px;
  padding: 10px;    
}
.cuadro{
  background-color: #86a2da;
  width: 98%;
  height: 560px;
  text-align:justify ;
  border-radius: 10px;
  padding: 20px;    
  margin: 1%;
}
.cuadro p{
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-size: 132%;
  font-weight:500;
}
#mosaicoIZQ{
  bottom:38px;
  position:relative;
  margin-bottom: -62px;
  width: 90px;
  height: 90px;
 
}
.site-footer
    {
      padding-bottom:0
    }
    .site-footer .footer-links{
        text-align: left;
        margin: 10px;
        
    }
    .site-footer .copyright-text
    {
      text-align:center
    }
    .site-footer .social-icons
    {
        text-align:left;  
   
        margin-top: -280px;
        margin-left: -110px;
      }
    .copyright-text
    {
     
    
      margin-bottom: 10px;
    }
/*TERMINA FOOTER*/
}
/****************************************************************MOVIL  5*************/ 
@media screen and (max-width: 399px) and (min-width: 372px)
{
header{
  background-color: #102461;
  width: 100%;
  height: 80px;
  box-shadow: inset 200px 200px 200px 200px rgba(0, 0, 0, 0.233)   ;
  line-height:0;
}
.logo{
  width: 20%;
  height: 30px;
  float: left;
  margin-top: 9px;
  margin-left: 20px;
}
/* Importante Ocultar Menu General*/
.justify-content-end{
  display:none;
}
/*************************************************INICIA MENU MOVIL*/
.main-header {
  display: flex;
  float:right;
  margin-top: 10px;
  /*margin-left: -20px;*/
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 0 0.4rem;
}
.main-logo {
  color: black;
  font-size: 32px;
  text-decoration: none;
}
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  transition: all 0.2s linear;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}
.main-nav.show {
  margin-left: 0;
}
.nav-links {
  background-color: #102461b0;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  align-items: left;
  justify-content: flex-start;
}
.link-item {
  margin-top: 3rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  margin-left: 30px;
}
.main-nav button{
  background-color: transparent;
  border-color: white;
  font-weight: bold;
  border-radius: 5px;
  height: 40px;
  margin-top: 45px;
  width: 70%;
  margin-left: 30px;
}
.button-menu {
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column; /* Pondrá un span debajo del otro*/
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* Dibujamos una línea recta por cada span creando el tipico menu hamburguesa*/
.button-menu span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all 0.2s linear;
}
/* con los span dibujamos un icono de cerrar para mostrar cuándo la navegación este abierta */
.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #ffffff;
}
.button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-8px, 5px);
}
.button-menu.close span:nth-child(3) {
  display: none;
}
/*BOTON LOGIN/ PERFIL USUARIO ESPECIAL PARA MENU MOVIL*/
.btn-login{
  background-color: transparent;
  border-color: white;
  border-radius: 5px;
  height: 40px;
  margin-top: 10px;
  margin-right: 10px;
  width: 80%;
}
/**************************************************************TERMINA MENU MOVIL*/
#mosaicoDER{
  float: right;
  width: 90px;
  height: 90px;
  margin-top: 0px;
}
.h4{
  margin-left: 15%;
  margin-top: 50px;
  color: #102461; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 800; 
} 
.cuadro_fondo2{
  background-color: #b7c8e8;    
  width: 80%;
  height: 620px; 
  margin-left: 10%;
  margin-top: 8%;
  margin-bottom: 8%;
  border-radius: 10px;
  padding: 10px;    
}
.cuadro{
  background-color: #86a2da;
  width: 98%;
  height: 590px;
  text-align:justify ;
  border-radius: 10px;
  padding: 20px;    
  margin: 1%;
}
.cuadro p{
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-size: 132%;
  font-weight:500;
}
#mosaicoIZQ{
  bottom:38px;
  position:relative;
  margin-bottom: -62px;
  width: 90px;
  height: 90px;
}
.site-footer
    {
      padding-bottom:0
      
    }
    .site-footer .footer-links{
        text-align: left;
        margin: 10px;
        font-size:14px;
        
    }
    .site-footer .copyright-text
    {
      text-align:center;
    }
    .site-footer .social-icons
    {
        text-align:left;  
   
        margin-top: -280px;
        margin-left: -110px;
    }
    .copyright-text
    {
     
    
      margin-bottom: 10px;
    }
    

/*TERMINA FOOTER*/
}
/****************************************************************************MOVIL 6*/
@media screen and (max-width: 371px) and (min-width: 344px)
{
header{
  background-color: #102461;
  width: 100%;
  height: 70px;
  box-shadow: inset 200px 200px 200px 200px rgba(0, 0, 0, 0.233)   ;
  line-height:0;
}
.logo{
  width: 20%;
  height: 30px;
  float: left;
  margin-top: 9px;
  margin-left: 20px;
}
/* Importante Ocultar Menu General*/
.justify-content-end{
  display:none;
}
/*************************************************INICIA MENU MOVIL*/
.main-header {
  display: flex;
  float:right;
  margin-top: 0 px;
  /*margin-left: -20px;*/
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 0 0.4rem;
}
.main-logo {
  color: black;
  font-size: 32px;
  text-decoration: none;
}
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  transition: all 0.2s linear;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}
.main-nav.show {
  margin-left: 0;
}
.nav-links {
  background-color: #102461b0;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  align-items: left;
  justify-content: flex-start;
}
.link-item {
  margin-top: 3rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  margin-left: 30px;
}
.main-nav button{
  background-color: transparent;
  border-color: white;
  font-weight: bold;
  border-radius: 5px;
  height: 40px;
  margin-top: 45px;
  width: 70%;
  margin-left: 30px;
}
.button-menu {
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column; /* Pondrá un span debajo del otro*/
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* Dibujamos una línea recta por cada span creando el tipico menu hamburguesa*/
.button-menu span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all 0.2s linear;
}
/* con los span dibujamos un icono de cerrar para mostrar cuándo la navegación este abierta */
.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #ffffff;
}
.button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-8px, 5px);
}
.button-menu.close span:nth-child(3) {
  display: none;
}
/*BOTON LOGIN/ PERFIL USUARIO ESPECIAL PARA MENU MOVIL*/
.btn-login{
  background-color: transparent;
  border-color: white;
  border-radius: 5px;
  height: 40px;
  margin-top: 10px;
  margin-right: 10px;
  width: 80%;
}
/**************************************************************TERMINA MENU MOVIL*/
#mosaicoDER{
  float: right;
  width: 90px;
  height: 90px;
  margin-top: 0px;
}
.h4{
  margin-left: 15%;
  margin-top: 50px;
  color: #102461; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 800; 
} 
.cuadro_fondo2{
  background-color: #b7c8e8;    
  width: 80%;
  height: 760px; 
  margin-left: 10%;
  margin-top: 8%0;
  margin-bottom: 15%;
  border-radius: 10px;
  padding: 10px;    
}
.cuadro{
  background-color: #86a2da;
  width: 98%;
  height: 720px;
  text-align:justify ;
  border-radius: 10px;
  padding: 20px;    
  margin: 1%;
}
.cuadro p{
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-size: 132%;
  font-weight:500;
}
#mosaicoIZQ{
  bottom:38px;
  position:relative;
  margin-bottom: -62px;
  width: 90px;
  height: 90px;
}
.site-footer
    {
      padding-bottom:0
      
    }
    .site-footer .footer-links{
        text-align: left;
        margin: 15px;
        font-size:14px;
        
    }
    .site-footer .copyright-text
    {
      text-align:center;
    }

    .site-footer .social-icons
    {
        text-align:left;  
   
        margin-top: -290px;
        margin-left: -110px;
    }
    .copyright-text
    {
     
    
      margin-bottom: 10px;
    }
}
/****************************************************************************MOVIL 7*/
@media screen and (max-width: 343px) and (min-width: 311px)
{
header{
  background-color: #102461;
  width: 100%;
  height: 70px;
  box-shadow: inset 200px 200px 200px 200px rgba(0, 0, 0, 0.233)   ;
  line-height:0;
}
.logo{
  width: 20%;
  height: 30px;
  float: left;
  margin-top: 9px;
  margin-left: 20px;
}
/* Importante Ocultar Menu General*/
.justify-content-end{
  display:none;
}
/*************************************************INICIA MENU MOVIL*/
.main-header {
  display: flex;
  float:right;
  margin-top: 0px;
  /*margin-left: -20px;*/
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 0 0.4rem;
}
.main-logo {
  color: black;
  font-size: 32px;
  text-decoration: none;
}
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  transition: all 0.2s linear;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}
.main-nav.show {
  margin-left: 0;
}
.nav-links {
  background-color: #102461b0;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  align-items: left;
  justify-content: flex-start;
}
.link-item {
  margin-top: 3rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  margin-left: 30px;
}
.main-nav button{
  background-color: transparent;
  border-color: white;
  font-weight: bold;
  border-radius: 5px;
  height: 40px;
  margin-top: 45px;
  width: 70%;
  margin-left: 30px;
}
.button-menu {
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column; /* Pondrá un span debajo del otro*/
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* Dibujamos una línea recta por cada span creando el tipico menu hamburguesa*/
.button-menu span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all 0.2s linear;
}
/* con los span dibujamos un icono de cerrar para mostrar cuándo la navegación este abierta */
.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #ffffff;
}
.button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-8px, 5px);
}
.button-menu.close span:nth-child(3) {
  display: none;
}
/*BOTON LOGIN/ PERFIL USUARIO ESPECIAL PARA MENU MOVIL*/
.btn-login{
  background-color: transparent;
  border-color: white;
  border-radius: 5px;
  height: 40px;
  margin-top: 10px;
  margin-right: 10px;
  width: 80%;
}
/**************************************************************TERMINA MENU MOVIL*/
#mosaicoDER{
  float: right;
  width: 90px;
  height: 90px;
  margin-top: 0px;
}
.h4{
  margin-left: 15%;
  margin-top: 50px;
  color: #102461; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 800; 
} 
.cuadro_fondo2{
  background-color: #b7c8e8;    
  width: 95%;
  height: 690px; 
  margin-left: 2%;
  margin-top: 8%;
  margin-bottom: 15%;
  border-radius: 10px;
  padding: 10px;    
}
.cuadro{
  background-color: #86a2da;
  width: 98%;
  height: 660px;
  text-align:justify ;
  border-radius: 10px;
  padding: 20px;    
  margin: 1%;
}
.cuadro p{
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-size: 132%;
  font-weight:500;
}
#mosaicoIZQ{
  bottom:38px;
  position:relative;
  margin-bottom: -52px;
  width: 90px;
  height: 90px; 
}
.site-footer
    {
      padding-bottom:0
      
    }
    .site-footer .footer-links{
        text-align: left;
        margin: 10px;
        font-size:14px;
        
    }
    .site-footer .copyright-text
    {
      text-align:center;
    }
    .site-footer .social-icons
    {
        text-align:left;  
   
        margin-top: -290px;
        margin-left: -110px;
    }
    .copyright-text
    {
     
    
      margin-bottom: 10px;
    }
}
/**************************************************************************MOVIL 8*/
@media screen and (max-width: 310px) and (min-width: 280px)
{
header{
  background-color: #102461;
  width: 100%;
  height: 70px;
  box-shadow: inset 200px 200px 200px 200px rgba(0, 0, 0, 0.233)   ;
  line-height:0;
}
.logo{
  width: 20%;
  height: 30px;
  float: left;
  margin-top: 9px;
  margin-left: 20px;
}
/* Importante Ocultar Menu General*/
.justify-content-end{
  display:none;
}
/*************************************************INICIA MENU MOVIL*/
.main-header {
  display: flex;
  float:right;
  margin-top: 0px;
  /*margin-left: -20px;*/
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 0 0.4rem;
}
.main-logo {
  color: black;
  font-size: 32px;
  text-decoration: none;
}
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin-left: -100%;
  transition: all 0.2s linear;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}
.main-nav.show {
  margin-left: 0;
}
.nav-links {
  background-color: #102461b0;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  align-items: left;
  justify-content: flex-start;
}
.link-item {
  margin-top: 3rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  margin-left: 30px;
}
.main-nav button{
  background-color: transparent;
  border-color: white;
  font-weight: bold;
  border-radius: 5px;
  height: 40px;
  margin-top: 45px;
  width: 70%;
  margin-left: 30px;
}
.button-menu {
  z-index: 200;
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  background: none;
  flex-direction: column; /* Pondrá un span debajo del otro*/
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* Dibujamos una línea recta por cada span creando el tipico menu hamburguesa*/
.button-menu span {
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: all 0.2s linear;
}
/* con los span dibujamos un icono de cerrar para mostrar cuándo la navegación este abierta */
.button-menu.close span {
  opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  background: #ffffff;
}
.button-menu.close span:nth-child(2) {
  transform: rotate(-45deg) translate(-8px, 5px);
}
.button-menu.close span:nth-child(3) {
  display: none;
}
/*BOTON LOGIN/ PERFIL USUARIO ESPECIAL PARA MENU MOVIL*/
.btn-login{
  background-color: transparent;
  border-color: white;
  border-radius: 5px;
  height: 40px;
  margin-top: 10px;
  margin-right: 10px;
  width: 80%;
}
/**************************************************************TERMINA MENU MOVIL*/
#mosaicoDER{
  float: right;
  width: 90px;
  height: 90px;
  margin-top: 0px;
}
.h4{
  margin-left: 15%;
  margin-top: 50px;
  color: #102461; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 800; 
} 
.cuadro_fondo2{
  background-color: #b7c8e8;    
  width: 95%;
  height: 870px; 
  margin-left: 2%;
  margin-top: 8%;
  margin-bottom: 15%;
  border-radius: 10px;
  padding: 10px;    
}
.cuadro{
  background-color: #86a2da;
  width: 98%;
  height: 840px;
  text-align:justify ;
  border-radius: 10px;
  padding: 20px;    
  margin: 1%;
}
.cuadro p{
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-size: 132%;
  font-weight:500;
}
#mosaicoIZQ{
  bottom:38px;
  position:relative;
  margin-bottom: -52px;
  width: 90px;
  height: 90px;
}
.site-footer
    {
      padding-bottom:0
      
    }
    .site-footer hr
    {
      border-top-color:rgb(255, 255, 255);
      margin-top: 60px;
      opacity:0.5
    }
    .site-footer .footer-links{
        text-align: left;
        margin: 10px;
        font-size:14px;
        
    }
    .site-footer .copyright-text
    {
      text-align:center;
    }
    .site-footer .social-icons
    {
        text-align:left;  
   
        margin-top: -320px;
        margin-left: -110px;
    }
    .copyright-text
    {
     
    
      margin-bottom: 10px;
    }
}
