.modal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.modal-content{
    width: 500px;
    height: 400px;
    margin: auto;
    background-color: #102461;
    border-radius: 10px;
    border-color: #ffffff;
    box-shadow: 0px 0px 6px 6px #000e2979;
    border: 1px solid #d0d0d0;
}
.modal-title{
    text-align: center;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.modal-footer{
    margin-top: -10px;
    height: 70px;
}

/*.modal-footer .btn{
    font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: bold;
      border:1px solid #78788c;
      background-color:#ffffff;
      color: #0b3061;
      box-shadow: 1px 1px 5px #000000 ;
      cursor:pointer;
      margin-right: 20px;
      
}*/

.elem-group label{
    color: #ffffff;
    
}

.visitor_email{
    width: 250px;
    margin-left: 30px

}
.email_title{
    width: 250px;
}
.visitor_message{
    width: 450px;
    height: 100px;
}


@media screen and (max-width: 2000px) and (min-width: 1801px) /*PC*/
{}
@media screen and  (max-width: 1800px)and (min-width: 1650px)/*PC*/
{}
@media screen and  (max-width: 1649px)and (min-width: 1501px) /*PC*/
{}
@media screen and (max-width: 1500px) and (min-width: 1201px)
{}
@media screen and (max-width: 1200px) and (min-width: 1043px)  /*Tablet*/
{}
@media screen and  (max-width: 1042px) and (min-width: 1001px) /*Tablet*/
{}
@media screen and (max-width: 1000px)and (min-width: 768px)
{}
@media screen and (max-width: 767px) and (min-width: 481px)
{
    .modal{
        margin-top: 50px;
     }
     .modal-content{
         width: 450px;
         height: 400px;
         margin-left: 1%;

     }
     .visitor_email{
        width: 350px;
        margin-left: 30px
    
    }
    .email_title{
        width: 350px;
    }
    .visitor_message{
        width: 410px;
        height: 120px;
    }
    .modal-footer{
        margin-top: -20px;
    }

    .modal-footer .btn{
        margin-right: 1%;
        width: 80px;
        margin-top: -2px;
    }
}
@media screen and (max-width: 480px) and (min-width: 372px)
{
    .modal{
        margin-top: 50px;
     }
     .modal-content{
         width: 350px;
         height: 450px;
         left: 1%;

     }
     .visitor_email{
        width: 330px;
        margin-left: -5px
    
    }
    .email_title{
        width: 330px;
        margin-left: -5px
    }
    .visitor_message{
        width: 330px;
        height: 120px;
        margin-left: -5px
    }
    .modal-footer{
        margin-top: -20px;
    }

    .modal-footer .btn{
        margin-right: 1%;
        width: 80px;
        margin-top: -2px;
    }
}
@media screen and (max-width: 371px) and (min-width: 311px)
{
    .modal{
        margin-top: 50px;
     }
     .modal-content{
         width: 290px;
         height: 450px;
         left: 1%;
     }
     .modal-header .close{
        margin-right: 5px;
     }
     .visitor_email{
        width: 270px;
        margin-left: -5px
    
    }
    .email_title{
        width: 270px;
        margin-left: -5px
    }
    .visitor_message{
        width: 270px;
        height: 120px;
        margin-left: -5px
    }
    .modal-footer{
        margin-top: -20px;
    }

    .modal-footer .btn{
        margin-right: 1%;
        width: 80px;
        margin-top: -2px;
    }
}
@media screen and (max-width: 310px) and (min-width: 280px)
{
    .modal{
        margin-top: 50px;
     }
     .modal-content{
         width: 250px;
         height: 450px;
         left: 1%;
     }
     .modal-header .close{
        margin-right: 5px;
     }
     .visitor_email{
        width: 235px;
        margin-left: -10px
    
    }
    .email_title{
        width: 235px;
        margin-left: -10px
    }
    .visitor_message{
        width: 235px;
        height: 120px;
        margin-left: -10px
    }
    .modal-footer{
        margin-top: -20px;
    }

    .modal-footer .btn{
        margin-right: 1%;
        width: 80px;
        margin-top: -2px;
    }
}
