.modal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content{
    width: 300px;
    height: 310px;
    margin: auto;
    margin-top: 120px;
    background-color: #102461;
    border-radius: 10px;
    border-color: #ffffff;
    box-shadow: 0px 0px 6px 6px #000e2979;
    border: 1px solid #d0d0d0;
}

.modal-title{
    text-align: center;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

#alerta{
    width: 300px;
    margin-left: 98px;
    margin-top: 50px;
    margin-bottom: -95px;
}

.alert{
    margin-bottom: -95px;
    margin-top: 50px;
}

.grupo{
    position: relative;
    margin: 37px;
    top: -5px;    
}

input{
    background: none;
    color: #ffffff;    
    display: block;
    width: 110%;
    margin: auto;
    margin-left: -10px;
    border: none;
    border-bottom: 1px solid #ffffff;  
    margin-top: -1px;  
    font-family: Calibri, sans-serif;
    font-size: 15px;            
}

input:focus{
    outline: none;
    color: #ffffff;            
}

input:focus~label,
input:valid~label{
    position: absolute;
    top: -23px;
    font-size: 16px;
    color: #78788c;    
}

label{
    color: #78788c;
    font-size: 13px;
    position: absolute;
    left: -6px;
    top: -3px;
    transition: 0.3s ease all;    
    pointer-events: none;
    font-family: Calibri, sans-serif;
    font-size: 17px;
}

.M1{
    position: absolute;
    top: 4px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 2px 1px;
    width: 20px;
    height: 20px;
    left: 175px;
}

.btncancelarn{
    position: absolute;
    margin-top: 30px;
    left: 10px;
    width: 115px;
    height: 30px;
    color: #102461;
    box-shadow: 1px 1px 5px#000000;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
}

.btnguardarn{
    position: absolute;
    margin-top: 30px;
    right: 10px;
    color: #102461; 
    width: auto;
    height: 30px;
    box-shadow: 1px 1px 5px#000000;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
}

/***************************************************************/
@media screen and (max-width: 575px) /*Celular*/
and (min-width: 481px){

    #alerta{
        width: 300px;
        margin: auto;
        margin-bottom: -60px;
        margin-top: 50px;
    }

    .alert{
        margin-bottom: -60px !important; 
        margin-top: 30px !important;
        margin: auto;
        width: 450px;
        left: -8px;
    }

    .modal-content{
        width: 300px;
        height: 310px;
        margin: auto;
        margin-top: 80px;
        left: -8px;
        background-color: #102461;
        border-radius: 10px;
        border-color: #ffffff;
        box-shadow: 0px 0px 6px 6px #000e2979;
        border: 1px solid #d0d0d0;
    }
}

@media screen and (max-width: 480px) /*Celular*/
and (min-width: 356px){

    #alerta{
        width: 300px;
        margin: auto;
        margin-bottom: -60px;
        margin-top: 50px;
        left: 1px;
    }

    .alert{
        margin-bottom: -60px !important; 
        margin-top: 30px !important;
        margin: auto;
        width: 320px;
        left: 1px;
    }

    .modal-content{
        width: 300px;
        height: 310px;
        margin: auto;
        margin-top: 80px;
        background-color: #102461;
        border-radius: 10px;
        border-color: #ffffff;
        box-shadow: 0px 0px 6px 6px #000e2979;
        border: 1px solid #d0d0d0;
    }
}

@media screen and (max-width: 355px) /*Celular*/
and (min-width: 321px){

    #alerta{
        width: 290px;
        margin: auto;
        margin-bottom: -60px;
        margin-top: 40px;
        left: 1px;
    }

    .alert{
        margin-bottom: -60px !important; 
        margin-top: 30px !important;
        margin: auto;
        width: 300px;
        left: 1px;
    }

    .modal-content{
        width: 295px;
        height: 310px;
        margin: auto;
        margin-top: 80px;
        background-color: #102461;
        border-radius: 10px;
        border-color: #ffffff;
        box-shadow: 0px 0px 6px 6px #000e2979;
        border: 1px solid #d0d0d0;
    }
}

@media screen and (max-width: 320px) /*Celular*/
and (min-width: 280px){

    .modal-content{
        width: 260px;
        height: 310px;
        margin: auto;
        margin-top: 80px;
        background-color: #102461;
        border-radius: 10px;
        border-color: #ffffff;
        box-shadow: 0px 0px 6px 6px #000e2979;
        border: 1px solid #d0d0d0;
    }

    #alerta{
        width: 260px;
        margin: auto;
        margin-bottom: -60px;
        margin-top: 40px;
        left: 1px;
    }

    .alert{
        margin-bottom: -60px !important; 
        margin-top: 30px !important;
        margin: auto;
        width: 260px;
        left: 1px;
    } 

    input{
        background: none;
        color: #ffffff;    
        display: block;
        width: 130%;
        margin: auto;
        margin-left: -25px;
        border: none;
        border-bottom: 1px solid #ffffff;  
        margin-top: -1px;  
        font-family: Calibri, sans-serif;
        font-size: 15px;            
    }

    label{
        color: #78788c;
        font-size: 13px;
        position: absolute;
        left: -22px;
        top: -3px;
        transition: 0.3s ease all;    
        pointer-events: none;
        font-family: Calibri, sans-serif;
        font-size: 17px;
    }
    
    .M1{
        position: absolute;
        top: 4px;
        text-transform: uppercase;
        cursor: pointer;
        padding: 2px 1px;
        width: 20px;
        height: 20px;
        left: 150px;
    }

    .btncancelarn{
        position: absolute;
        margin: 22px 0px 0px -2px;
        width: 110px;
        height: 30px;
        color: #102461;
        box-shadow: 1px 1px 5px#000000;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 11.5px;
    }
    
    .btnguardarn{
        position: absolute;
        margin: 22px 0px 0px 132px;
        color: #102461; 
        height: 30px;
        box-shadow: 1px 1px 5px#000000;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 11.5px;
    }

}