header{
    background-color: #102461;
    height: 70px
  }
  .Nombreusuario{
    color:#FFFFFF;
    margin-top: 20px;
    margin-right: 12px;
  }  
  .logo{
    width: 30%;
    height: 70px;
    float: left;
    margin-top: 9px;
    margin-left: 40px;
  }
  .imgRedonda {
    width:50px;
    height:50px;
    margin-top: 10px;
    border-radius:160px;
    border:5px solid rgb(1, 151, 252);
  }
    
  .dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    margin-left: -50px;
    width: 300%;
    height: 120%;
    background-color: #102461;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }
    /* Importante Ocultar Menu Movil*/
  .main-header{
    display: none;  
  }
  #mosaicoDER{
    float: right;
    width: 120px;
    height: 120px;
  }
  .menu_general ul{
    margin-right: 60px;
  }
  .menu_general li{
    margin-top: 15px;
    margin-right: 60px; 
  }
  #texto{
    color: white;
  }
  button{
    background-color:#fff;
    border-color: white;
    border-radius: 5px;
    height: 40px;
    margin-top: 15px;
    width: 13%;
  }
  body{
    background-color: #FFFFFF;
  }
  .h4_2{
    margin-left: 15%;
    margin-top: 20px;
    color: #102461; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; 
  }
  .cuadro_fondo{
    /*background-color: #b7c8e8;    */
    width: 80%;
    height: 285px; 
    margin-left: 20%;
    border-radius: 10px;
    padding: 2px 0px 0px 3px;
  }   
  .menuimagen{
    float:left;
    margin: 40px 0px 2% 3%;
    
  }
  #MenuI1{
    width: 130px;
    height: 130px;
    margin-left: 20 px;
  }
  .menuimagen1{
    float:left;
    margin: 40px 0px 2% 20%;
  }
  #MenuI2{
    width: 130px;
    height: 130px;
  }
  .menuimagen2{
    float:left;
    margin: 40px 0% 2% 20%;
  }
  #MenuI3{
    width: 130px;
    height: 130px;
    margin-left: 15px;
  }
  #editaravatar{
    position: absolute;
    width:150px;
    height: 50px;
    left: 22%;
    padding:8px 12px;
    margin:190px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }
  #editardatos{
    position: absolute;
    width:150px;
    height: 50px;
    left: 46%;
    padding:8px 12px;
    margin:190px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }
  #historial{
    position: absolute;
    width:200px;
    height: 50px;
    left: 67%;
    padding:8px 12px;
    margin:190px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }
  .h4_1{
    margin-left: 15%;
    margin-top: 50px;
    color: #102461; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; 
  }
  .card{
    color: #0b3061;
    left: 23%;
    width: 50%;
    margin-top: 2%;
  }
  .card .btn{
    float:right;
    width:200px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: bold;
      border:1px solid #78788c;
      background:0;
      color: #0b3061;
      box-shadow: 1px 1px 5px #000000 ;
      cursor:pointer;
      
  
    /*
    position: absolute;
    width:200px;
    height: 50px;
    left: 67%;
    padding:10px 12px;
    margin:-50px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;*/
  }
  .textourl{
    color: #000000;
  }
  /*.ModalIcono{
    display: flex;
    background-color: #000000;
    align-items: center;
    justify-content: center;
    position:fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }*/
  .show{
    pointer-events: auto;
    opacity: 1;
  }
  #mosaicoIZQ{
    width: 120px;
    height: 120px;
    position: absolute;
  }
  /* INICIA FOOTER*/
  .site-footer
{
  background-color: #102461;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#ffffff;
  margin-top: 5%;
  font-family: 'Montserrat', sans-serif, serif;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer .footer-links .fa{
    color: #ffffff;
    margin-right: 15px;
}

.site-footer hr.small
{
  margin:20px 0
}
.site-footer h2
{
    color: #fff;
    font-family: 'Montserrat', sans-serif, serif;
    font-size:  150%;
    padding-bottom: 0.625rem;
    list-style:none; 
}
.site-footer a
{
    color: #fff;
    font-family: 'Montserrat', sans-serif, serif;
    font-size: 95%;
    padding-bottom: 0.625rem;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block;
  margin-top: 15px;
  margin-right: 60px; 
}
.footer-links a
{
  color:#ffffff
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#ffffff;
  color:#102461;
}
.copyright-text
{
  margin:0
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
  margin-left: 10px;
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#00476b;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.global:hover
{
  background-color:#00aced
}
    /*TERMINA FOOTER*/
  /****************************************************************************************PC 1*/
  @media screen and (max-width: 2000px) and (min-width: 1801px) /*PC*/
  {
  #historial{
    position: absolute;
    width:200px;
    height: 50px;
    left: 68%;
    padding:8px 12px;
    margin:190px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }
  #mosaicoIZQ{
    position:relative;
    margin-bottom: -85px;
  }
  }
  /*****************************************************************************************PC 2*/
  @media screen and  (max-width: 1800px)and (min-width: 1650px)/*PC*/
  {
  #historial{
    position: absolute;
    width:200px;
    height: 50px;
    left: 69%;
    padding:8px 12px;
    margin:190px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }
  #mosaicoIZQ{
    position:relative;
    margin-bottom: -83px;
  }   
  }
  /******************************************************************************************PC 3*/
  @media screen and  (max-width: 1649px)and (min-width: 1501px) /*PC*/
  {
  #editardatos{
    position: absolute;
    width:150px;
    height: 50px;
    left: 47%;
    padding:8px 12px;
    margin:190px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }
  #historial{
    position: absolute;
    width:200px;
    height: 50px;
    left: 70%;
    padding:8px 12px;
    margin:190px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }
  #mosaicoIZQ{
    position:relative;
    margin-bottom: -78px;
  }
  }
  /*****************************************************************************************LAPTOP*/
  @media screen and (max-width: 1500px) and (min-width: 1201px)
  {
  .Nombreusuario{
    color:#FFFFFF;
    margin-top: 20px;
    margin-right: 12px;
  }
  .cuadro_fondo{
    /*background-color: #b7c8e8;    */
    width: 75%;
    height: 285px; 
    margin-left: 15%;
    border-radius: 10px;
    padding: 2px 0px 0px 3px;
  } 
  
  #editaravatar{
    position: absolute;
    width:150px;
    height: 50px;
    left: 17%;
    padding:8px 12px;
    margin:190px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }  
  #editardatos{
    position: absolute;
    width:150px;
    height: 50px;
    left: 42%;
    padding:8px 12px;
    margin:190px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }
  #historial{
    position: absolute;
    width:200px;
    height: 50px;
    left: 66%;
    padding:8px 12px;
    margin:190px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }
  #mosaicoIZQ{
    position:relative;
    margin-bottom: -61px;
  }
  }
  /************************************************************************************ TABLET  1*/
  @media screen and (max-width: 1200px) and (min-width: 1043px)  /*Tablet*/
  {
  .imgRedonda {
    width:45px;
    height:45px;
    margin-top: 10px;
    border-radius:160px;
    border:5px solid rgb(1, 151, 252);
  }
  .menu_general ul{
    margin-right: 50px;
  }
  .menu_general li{
    margin-top: 15px;
    margin-right: 40px; 
  }
  .Nombreusuario{
    color:#FFFFFF;
    margin-top: 20px;
    margin-right: 10px;
  }
  .logo{
    width: 30%;
    height: 70px;
    float: left;
    margin-top: 9px;
    margin-left: 20px;
  }
  #mosaicoDER{
    float: right;
    width: 120px;
    height: 120px;
  }
  .h4{
    margin-left: 15%;
    margin-top: 20px;
    color: #102461; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; 
  } 
  .cuadro_fondo{
    /*background-color: #b7c8e8;    */
    width: 75%;
    height: 285px; 
    margin-left: 15%;
    border-radius: 10px;
    padding: 2px 0px 0px 3px;
  }
  #editaravatar{
    position: absolute;
    width:150px;
    height: 50px;
    left: 17%;
    padding:8px 12px;
    margin:190px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }  
  #editardatos{
    position: absolute;
    width:150px;
    height: 50px;
    left: 43%;
    padding:8px 12px;
    margin:190px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }
  #historial{
    position: absolute;
    width:200px;
    height: 50px;
    left: 68%;
    padding:8px 12px;
    margin:190px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }
  #mosaicoIZQ{
    position:relative;
    margin-bottom: -53px;
  }
  
  }
  /************************************************************************************* TABLET 2 */
  @media screen and  (max-width: 1042px) and (min-width: 1001px) /*Tablet*/
  {
  .menu_general ul{
    margin-right: 50px;
  }
  .menu_general li{
    margin-top: 15px;
    margin-right: 40px; 
  }
  .Nombreusuario{
    color:#FFFFFF;
    margin-top: 22px;
    margin-right: 10px;
  }
  #mosaicoDER{
    float: right;
    width: 120px;
    height: 120px;
  }
  .h4_2{
    margin-left: 15%;
    margin-top: 20px;
    color: #102461; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; 
  }
  .cuadro_fondo{
    /*background-color: #b7c8e8;    */
    width: 75%;
    height: 285px; 
    margin-left: 15%;
    border-radius: 10px;
    padding: 2px 0px 0px 3px;
  }
  #editaravatar{
    position: absolute;
    width:150px;
    height: 50px;
    left: 17%;
    padding:8px 12px;
    margin:190px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }  
  #editardatos{
    position: absolute;
    width:150px;
    height: 50px;
    left: 44%;
    padding:8px 12px;
    margin:190px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }
  #historial{
    position: absolute;
    width:200px;
    height: 50px;
    left: 70%;
    padding:8px 12px;
    margin:190px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  } 
  #mosaicoIZQ{
    position:relative;
    margin-bottom: -53px;
  }
 
  
  }
  /************************************************************************************* MOVIL  1  */
  @media screen and (max-width: 1000px)and (min-width: 768px)
  {
  .justify-content-end{
    display:none;
  }
  .logo{
    width: 20%;
    height: 30px;
    float: left;
    margin-top: 9px;
    margin-left: 30px;
  }
  .main-header {
    display: flex;
    float:right;
    margin-top: -2px;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 0 0.4rem;
  }
  .main-logo {
    color: black;
    font-size: 32px;
    text-decoration: none;
  }
  .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin-left: -100%;
    transition: all 0.2s linear;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .main-nav.show {
    margin-left: 0;
  }
  .Nombreusuario{
    color:#FFFFFF;
    margin-top: 20px;
    margin-left: 30px;
    text-align: left;
  }
  .nav-links {
    background-color: #102461b0;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    align-items: left;
    justify-content: flex-start;
  }
  .link-item {
    margin-top: 2rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    margin-left: 30px;
  }
  .button-menu {
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column; /* Pondrá un span debajo del otro*/
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  /* Dibujamos una línea recta por cada span creando el tipico menu hamburguesa*/
  .button-menu span {
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all 0.2s linear;
  }
  /* con los span dibujamos un icono de cerrar para mostrar cuándo la navegación este abierta */
  .button-menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #ffffff;
  }
  .button-menu.close span:nth-child(2) {
    transform: rotate(-45deg) translate(-8px, 5px);
  }
  .button-menu.close span:nth-child(3) {
    display: none;
  }

  #mosaicoDER{
    float: right;
    width: 90px;
    height: 90px;
    margin-top: 0px;
  }
  .h4{
    margin-left: 15%;
    margin-top: 50px;
    color: #102461; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; 
  } 
  .cuadro_fondo{
    /*background-color: #b7c8e8;    */
    width: 75%;
    height: 285px; 
    margin-left: 15%;
    border-radius: 10px;
    padding: 2px 0px 0px 3px;
  }
  #MenuI1{
    width: 100px;
    height: 100px;
    margin-left: 20 px;
  }
  #MenuI2{
    width: 100px;
    height: 100px;
  }
  
  #MenuI3{
    width: 100px;
    height: 100px;
    margin-left: 15px;
  }
  
  #editaravatar{
    position: absolute;
    width:150px;
    height: 50px;
    left: 15%;
    padding:8px 12px;
    margin:190px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }  
  #editardatos{
    position: absolute;
    width:150px;
    height: 50px;
    left: 40%;
    padding:8px 12px;
    margin:190px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }
  #historial{
    position: absolute;
    width:200px;
    height: 50px;
    left: 65%;
    padding:8px 12px;
    margin:190px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  } 
  #mosaicoIZQ{
    position:relative;
    margin-bottom: -40px;
    width: 90px;
    height: 90px;
  }

  }
  /************************************************************************************Movil 2 */
  @media screen and (max-width: 767px) and (min-width: 521px)
  {
  .justify-content-end{
    display:none;
  }
  .logo{
    width: 20%;
    height: 30px;
    float: left;
    margin-top: 9px;
    margin-left: 30px;
  }
  .main-header {
    display: flex;
    float:right;
    margin-top: -2px;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 0 0.4rem;
  }
  .main-logo {
    color: black;
    font-size: 32px;
    text-decoration: none;
  }
  .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width:95%;
    margin-left: -100%;
    transition: all 0.2s linear;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .main-nav.show {
    margin-left: 0;
  }
  .Nombreusuario{
    color:#FFFFFF;
    margin-top: 20px;
    margin-left: 30px;
    text-align: left;
  }
  .nav-links {
    background-color: #102461b0;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    align-items: left;
    justify-content: flex-start;
  }
  .link-item {
    margin-top: 2rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    margin-left: 30px;
  }
  .button-menu {
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column; /* Pondrá un span debajo del otro*/
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  /* Dibujamos una línea recta por cada span creando el tipico menu hamburguesa*/
  .button-menu span {
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all 0.2s linear;
  }
  /* con los span dibujamos un icono de cerrar para mostrar cuándo la navegación este abierta */
  .button-menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #ffffff;
  }
  .button-menu.close span:nth-child(2) {
    transform: rotate(-45deg) translate(-8px, 5px);
  }
  .button-menu.close span:nth-child(3) {
    display: none;
  }

  #mosaicoDER{
    float: right;
    width: 90px;
    height: 90px;
    margin-top: 0px;
  }
  .h4{
    margin-left: 15%;
    margin-top: 50px;
    color: #102461; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; 
  }
  .cuadro_fondo{
    /*background-color: #b7c8e8;    */
    width: 90%;
    height: 285px; 
    margin-left: 15%;
    border-radius: 10px;
    padding: 2px 0px 0px 3px;
  }
  #MenuI1{
    width: 90px;
    height: 90px;
   
  }
  #MenuI2{
    width: 90px;
    height: 90px;
  }
  
  #MenuI3{
    width: 90px;
    height: 90px;
  
  }
  .menuimagen{
    float:left;
    margin: 40px 0px 2% 1%;
    
  }
  .menuimagen1{
    float:left;
    margin: 40px 0px 2% 15%;
  }
  .menuimagen2{
    float:left;
    margin: 40px 0% 2% 12%;
  }
  
  #editaravatar{
    position: absolute;
    width:100px;
    height: 65px;
    left: 15%;
    padding:8px 12px;
    margin:170px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }  
  #editardatos{
    position: absolute;
    width:100px;
    height: 65px;
    left: 40%;
    padding:8px 12px;
    margin:170px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }
  #historial{
    position: absolute;
    width:150px;
    height: 65px;
    left: 66%;
    padding:8px 12px;
    margin:170px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  } 

  .card{
    left: 20%;
    width: 70%;
    margin-top: 2%;
  }
  #mosaicoIZQ{
    bottom:38px;
    position:relative;
    margin-bottom: -62px;
    width: 90px;
    height: 90px;
  }
  .site-footer
    {
      padding-bottom:0
    }
    .site-footer .footer-links{
      text-align: left;
      margin: 10px;
      
    }
    .site-footer hr
    {
      border-top-color:rgb(255, 255, 255);
      margin-top: 10px;
      opacity:0.5
    }
    
    .site-footer .copyright-text
    {
      text-align:center;
      margin-left: 60px;
    }
    .site-footer .social-icons
    {
      text-align:left;  
      
      margin-top: -250px;
      margin-left: -110px;
    }
   
    
    .copyright-text
    {
      width: 350px;
      margin-left: -10px;
      margin-bottom: 10px;
    }

 
  }
  /*************************************************************************Movil 3****************/
  @media screen and (max-width: 520px) and (min-width: 481px)
  {
  .justify-content-end{
    display:none;
  }
  .logo{
    width: 20%;
    height: 30px;
    float: left;
    margin-top: 9px;
    margin-left: 30px;
  }
  .main-header {
    display: flex;
    float:right;
    margin-top: -2px;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 0 0.4rem;
  }
  .main-logo {
    color: black;
    font-size: 32px;
    text-decoration: none;
  }
  .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 95%;
    margin-left: -100%;
    transition: all 0.2s linear;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .main-nav.show {
    margin-left: 0;
  }
  .Nombreusuario{
    color:#FFFFFF;
    margin-top: 20px;
    margin-left: 30px;
    text-align: left;
  }
  .nav-links {
    background-color: #102461b0;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: left;
    justify-content: flex-start;
  }
  .link-item {
    margin-top: 2rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    margin-left: 30px;
  }
  .button-menu {
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column; /* Pondrá un span debajo del otro*/
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  /* Dibujamos una línea recta por cada span creando el tipico menu hamburguesa*/
  .button-menu span {
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all 0.2s linear;
  }
  /* con los span dibujamos un icono de cerrar para mostrar cuándo la navegación este abierta */
  .button-menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #ffffff;
  }
  .button-menu.close span:nth-child(2) {
    transform: rotate(-45deg) translate(-8px, 5px);
  }
  .button-menu.close span:nth-child(3) {
    display: none;
  }
  
  #mosaicoDER{
    float: right;
    width: 90px;
    height: 90px;
    margin-top: 0px;
  }
  .h4{
    margin-left: 15%;
    margin-top: 50px;
    color: #102461; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; 
  } 
  .cuadro_fondo{
    /*background-color: #b7c8e8;    */
    width: 90%;
    height: 285px; 
    margin-left: 15%;
    border-radius: 10px;
    padding: 2px 0px 0px 3px;
  }
  #MenuI1{
    width: 90px;
    height: 90px;
   
  }
  #MenuI2{
    width: 90px;
    height: 90px;
  }
  
  #MenuI3{
    width: 90px;
    height: 90px;
  
  }
  .menuimagen{
    float:left;
    margin: 40px 0px 2% 1%;
    
  }
  .menuimagen1{
    float:left;
    margin: 40px 0px 2% 15%;
  }
  .menuimagen2{
    float:left;
    margin: 40px 0% 2% 10%;
  }
  
  #editaravatar{
    position: absolute;
    width:100px;
    height: 65px;
    left: 15%;
    padding:8px 12px;
    margin:170px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }  
  #editardatos{
    position: absolute;
    width:100px;
    height: 65px;
    left: 40%;
    padding:8px 12px;
    margin:170px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }
  #historial{
    position: absolute;
    width:150px;
    height: 65px;
    left: 66%;
    padding:8px 12px;
    margin:170px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  } 
  .card{
    
    left: 20%;
    width: 70%;
    margin-top: 2%;
  }
  #mosaicoIZQ{
    float: left;
    position: relative;
    width: 90px;
    height: 90px;
    bottom: 41px; 
  }
  .site-footer
    {
      padding-bottom:0
    }
    .site-footer .footer-links{
        text-align: left;
        margin: 10px;
        
    }
    .site-footer .copyright-text
    {
      text-align:left
    }
    .site-footer .social-icons
    {
      text-align:left;  
 
      margin-top: -240px;
      margin-left: -110px;
    }
    .copyright-text
    {
     
    
      margin-bottom: 10px;
    }
  }
  /**********************************************************************************MOVIL 4 y 5*/
  @media screen and (max-width: 480px) and (min-width: 372px)
  {
  header{
    background-color: #102461;
    width: 100%;
    height: 70px;
    box-shadow: inset 200px 200px 200px 200px rgba(0, 0, 0, 0.233)   ;
    line-height:0;
  }
  .logo{
    width: 20%;
    height: 30px;
    float: left;
    margin-top: 9px;
    margin-left: 20px;
  }
  /* Importante Ocultar Menu General*/
  .justify-content-end{
    display:none;
  }
  /*************************************************INICIA MENU MOVIL*/
  .main-header {
    display: flex;
    float:right;
    margin-top: -2px;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 0 0.4rem;
  }
  .main-logo {
    color: black;
    font-size: 32px;
    text-decoration: none;
  }
  .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin-left: -100%;
    transition: all 0.2s linear;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .main-nav.show {
    margin-left: 0;
  }
  .Nombreusuario{
    color:#FFFFFF;
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
  }
  .nav-links {
    background-color: #102461b0;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: left;
    justify-content: flex-start;
  }
  .link-item {
    margin-top: 3rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    margin-left: 20px;
  }
  .button-menu {
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column; /* Pondrá un span debajo del otro*/
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  /* Dibujamos una línea recta por cada span creando el tipico menu hamburguesa*/
  .button-menu span {
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all 0.2s linear;
  }
  /* con los span dibujamos un icono de cerrar para mostrar cuándo la navegación este abierta */
  .button-menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #ffffff;
  }
  .button-menu.close span:nth-child(2) {
    transform: rotate(-45deg) translate(-8px, 5px);
  }
  .button-menu.close span:nth-child(3) {
    display: none;
  }
 
  #mosaicoDER{
    float: right;
    width: 90px;
    height: 90px;
    margin-top: 0px;
  }
  .h4{
    margin-left: 15%;
    margin-top: 50px;
    color: #102461; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; 
  }  
  .cuadro_fondo{
    /*background-color: #b7c8e8;    */
    width: 10%;
    height: 285px; 
    margin-left: 15%;
    border-radius: 10px;
    padding: 2px 0px 0px 3px;
  }
  #MenuI1{
    width: 90px;
    height: 90px;
   
  }
  #MenuI2{
    width: 90px;
    height: 90px;
  }
  
  #MenuI3{
    width: 90px;
    height: 90px;
  
  }
  .menuimagen{
    float:left;
    margin: 40px 0px 2% -5%;
    
  }
  .menuimagen1{
    float:left;
    margin: 40px 0px 2% -20%;
  }
  .menuimagen2{
    float:left;
    margin: 40px 0% 2% -40%;
  }
  
  #editaravatar{
    position: absolute;
    width:150px;
    height: 65px;
    left: 45%;
    padding:8px 12px;
    margin:50px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }  
  #editardatos{
    position: absolute;
    width:150px;
    height: 65px;
    left: 45%;
    padding:8px 12px;
    margin:170px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }
  #historial{
    position: absolute;
    width:150px;
    height: 65px;
    left: 45%;
    padding:8px 12px;
    margin:310px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }
  .h4_1{
    margin-left: 15%;
    margin-top: 150px;
    color: #102461; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; 
  }
  .card{
    
    left: 10%;
    width: 80%;
    margin-top: 2%;
  }
  
  #mosaicoIZQ{
    bottom:-105px;
    position:relative;
    margin-bottom: 90px;
    width: 90px;
    height: 90px;
    margin-left: 5px;
  }
  .site-footer
    {
      padding-bottom:0
    }
    .site-footer .footer-links{
        text-align: left;
        margin: 10px;
        
    }
    .site-footer .copyright-text
    {
      text-align:center
    }
    .site-footer .social-icons
    {
        text-align:left;  
   
        margin-top: -280px;
        margin-left: -110px;
      }
    .copyright-text
    {
     
    
      margin-bottom: 10px;
    }
  }
  /****************************************************************MOVIL  6*************/ 
  @media screen and (max-width: 371px) and (min-width: 344px)
  {
  header{
    background-color: #102461;
    width: 100%;
    height: 70px;
    box-shadow: inset 200px 200px 200px 200px rgba(0, 0, 0, 0.233)   ;
    line-height:0;
  }
  .logo{
    width: 20%;
    height: 30px;
    float: left;
    margin-top: 9px;
    margin-left: 20px;
  }
  /* Importante Ocultar Menu General*/
  .justify-content-end{
    display:none;
  }
  /*************************************************INICIA MENU MOVIL*/
  .main-header {
    display: flex;
    float:right;
    margin-top:0px;
    /*margin-left: -20px;*/
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 0 0.4rem;
  }
  .main-logo {
    color: black;
    font-size: 32px;
    text-decoration: none;
  }
  .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin-left: -100%;
    transition: all 0.2s linear;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .main-nav.show {
    margin-left: 0;
  }
  .Nombreusuario{
    color:#FFFFFF;
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
  }
  .nav-links {
    background-color: #102461b0;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    align-items: left;
    justify-content: flex-start;
  }
  .link-item {
    margin-top: 3rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    margin-left: 20px;
  }
  .button-menu {
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column; /* Pondrá un span debajo del otro*/
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  /* Dibujamos una línea recta por cada span creando el tipico menu hamburguesa*/
  .button-menu span {
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all 0.2s linear;
  }
  /* con los span dibujamos un icono de cerrar para mostrar cuándo la navegación este abierta */
  .button-menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #ffffff;
  }
  .button-menu.close span:nth-child(2) {
    transform: rotate(-45deg) translate(-8px, 5px);
  }
  .button-menu.close span:nth-child(3) {
    display: none;
  }
  #mosaicoDER{
    float: right;
    width: 90px;
    height: 90px;
    margin-top: 0px;
  }
  .h4{
    margin-left: 15%;
    margin-top: 50px;
    color: #102461; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; 
  }  
  .cuadro_fondo{
    /*background-color: #b7c8e8;    */
    width: 10%;
    height: 285px; 
    margin-left: 15%;
    border-radius: 10px;
    padding: 2px 0px 0px 3px;
  }
  #MenuI1{
    width: 70px;
    height: 70px;
   
  }
  #MenuI2{
    width: 70px;
    height: 70px;
  }
  
  #MenuI3{
    width: 70px;
    height: 70px;
  
  }
  .menuimagen{
    float:left;
    margin: 40px 0px 2% -5%;
    
  }
  .menuimagen1{
    float:left;
    margin: 40px 0px 2% -20%;
  }
  .menuimagen2{
    float:left;
    margin: 40px 0% 2% -40%;
  }
  
  #editaravatar{
    position: absolute;
    width:180px;
    height: 50px;
    left: 45%;
    padding:8px 12px;
    margin:40px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }  
  #editardatos{
    position: absolute;
    width:180px;
    height: 50px;
    left: 45%;
    padding:8px 12px;
    margin:150px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }
  #historial{
    position: absolute;
    width:180px;
    height: 60px;
    left: 45%;
    padding:8px 12px;
    margin:260px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }
  .h4_1{
    margin-left: 15%;
    margin-top: 100px;
    color: #102461; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; 
  }
  .card{ 
    left: 10%;
    width: 80%;
    margin-top: 5%;
    
  }

  .card_body h5, .card_body h6{
    font-size: 40pt;
  }
  #mosaicoIZQ{
    bottom:-55px;
    position:relative;
    margin-bottom: 40px;
    width: 90px;
    height: 90px;
    margin-left: 5px;
  }
  .site-footer
    {
      padding-bottom:0
      
    }
    .site-footer .footer-links{
        text-align: left;
        margin: 15px;
        font-size:14px;
        
    }
    .site-footer .copyright-text
    {
      text-align:center;
    }

    .site-footer .social-icons
    {
        text-align:left;  
   
        margin-top: -290px;
        margin-left: -110px;
    }
    .copyright-text
    {
     
    
      margin-bottom: 10px;
    }

  }
  /****************************************************************************MOVIL 7*/
  @media screen and (max-width: 343px) and (min-width: 311px)
  {
  header{
    background-color: #102461;
    width: 100%;
    height: 70px;
    box-shadow: inset 200px 200px 200px 200px rgba(0, 0, 0, 0.233)   ;
    line-height:0;
  }
  .logo{
    width: 20%;
    height: 30px;
    float: left;
    margin-top: 9px;
    margin-left: 20px;
  }
  /* Importante Ocultar Menu General*/
  .justify-content-end{
    display:none;
  }
  /*************************************************INICIA MENU MOVIL*/
  .main-header {
    display: flex;
    float:right;
    margin-top: 0px;
    /*margin-left: -20px;*/
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 0 0.4rem;
  }
  .main-logo {
    color: black;
    font-size: 32px;
    text-decoration: none;
  }
  .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin-left: -100%;
    transition: all 0.2s linear;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .main-nav.show {
    margin-left: 0;
  }
  .Nombreusuario{
    color:#FFFFFF;
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
  }
  .nav-links {
    background-color: #102461b0;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    align-items: left;
    justify-content: flex-start;
  }
  .link-item {
    margin-top: 3rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    margin-left: 20px;
  }
  .button-menu {
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column; /* Pondrá un span debajo del otro*/
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  /* Dibujamos una línea recta por cada span creando el tipico menu hamburguesa*/
  .button-menu span {
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all 0.2s linear;
  }
  /* con los span dibujamos un icono de cerrar para mostrar cuándo la navegación este abierta */
  .button-menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #ffffff;
  }
  .button-menu.close span:nth-child(2) {
    transform: rotate(-45deg) translate(-8px, 5px);
  }
  .button-menu.close span:nth-child(3) {
    display: none;
  }
  
  #mosaicoDER{
    float: right;
    width: 90px;
    height: 90px;
    margin-top: 0px;
  }
  .h4{
    margin-left: 15%;
    margin-top: 50px;
    color: #102461; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; 
  }  
  .cuadro_fondo{
    /*background-color: #b7c8e8;    */
    width: 10%;
    height: 285px; 
    margin-left: 15%;
    border-radius: 10px;
    padding: 2px 0px 0px 3px;
  }
  #MenuI1{
    width: 70px;
    height: 70px;
   
  }
  #MenuI2{
    width: 70px;
    height: 70px;
  }
  
  #MenuI3{
    width: 70px;
    height: 70px;
  
  }
  .menuimagen{
    float:left;
    margin: 40px 0px 2% -5%;
    
  }
  .menuimagen1{
    float:left;
    margin: 40px 0px 2% -20%;
  }
  .menuimagen2{
    float:left;
    margin: 40px 0% 2% -40%;
  }
  
  #editaravatar{
    position: absolute;
    width:150px;
    height: 50px;
    left: 45%;
    padding:8px 12px;
    margin:40px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }  
  #editardatos{
    position: absolute;
    width:150px;
    height: 50px;
    left: 45%;
    padding:8px 12px;
    margin:150px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }
  #historial{
    position: absolute;
    width:150px;
    height: 60px;
    left: 45%;
    padding:8px 12px;
    margin:260px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }
  .h4_1{
    margin-left: 15%;
    margin-top: 100px;
    color: #102461; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; 
  }
  .card{ 
    left: 10%;
    width: 80%;
    margin-top: 5%;
    
  }

  .card_body h5, .card_body h6{
    font-size: 40pt;
  }
  #mosaicoIZQ{
    bottom:-55px;
    position:relative;
    margin-bottom: 40px;
    width: 90px;
    height: 90px;
    margin-left: 5px;
  }
  .site-footer
    {
      padding-bottom:0
      
    }
    .site-footer .footer-links{
        text-align: left;
        margin: 10px;
        font-size:14px;
        
    }
    .site-footer .copyright-text
    {
      text-align:center;
    }
    .site-footer .social-icons
    {
        text-align:left;  
   
        margin-top: -290px;
        margin-left: -110px;
    }
    .copyright-text
    {
     
    
      margin-bottom: 10px;
    }
  }
  /**************************************************************************MOVIL 8*/
  @media screen and (max-width: 310px) and (min-width: 280px)
  {
  header{
    background-color: #102461;
    width: 100%;
    height: 70px;
    box-shadow: inset 200px 200px 200px 200px rgba(0, 0, 0, 0.233)   ;
    line-height:0;
  }
  .logo{
    width: 20%;
    height: 30px;
    float: left;
    margin-top: 9px;
    margin-left: 20px;
  }
  /* Importante Ocultar Menu General*/
  .justify-content-end{
    display:none;
  }
  /*************************************************INICIA MENU MOVIL*/
  .main-header {
    display: flex;
    float:right;
    margin-top: 0px;
    /*margin-left: -20px;*/
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 0 0.4rem;
  }
  #button-menu span{
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all 0.2s linear;
  }
  .Nombreusuario{
    color:#FFFFFF;
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
  }
  .main-logo {
    color: black;
    font-size: 32px;
    text-decoration: none;
  }
  .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin-left: -100%;
    transition: all 0.2s linear;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .main-nav.show {
    margin-left: 0;
  }
  .nav-links {
    background-color: #102461b0;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    align-items: left;
    justify-content: flex-start;
  }
  .link-item {
    margin-top: 3rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    margin-left: 20px;
  }
  .button-menu {
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column; /* Pondrá un span debajo del otro*/
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  /* Dibujamos una línea recta por cada span creando el tipico menu hamburguesa*/
  .button-menu span {
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all 0.2s linear;
  }
  /* con los span dibujamos un icono de cerrar para mostrar cuándo la navegación este abierta */
  .button-menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #ffffff;
  }
  .button-menu.close span:nth-child(2) {
    transform: rotate(-45deg) translate(-8px, 5px);
  }
  .button-menu.close span:nth-child(3) {
    display: none;
  }

  #mosaicoDER{
    float: right;
    width: 90px;
    height: 90px;
    margin-top: 0px;
  }
  .h4{
    margin-left: 15%;
    margin-top: 50px;
    color: #102461; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; 
  }
  .cuadro_fondo{
    /*background-color: #b7c8e8;    */
    width: 10%;
    height: 285px; 
    margin-left: 8%;
    border-radius: 10px;
    padding: 2px 0px 0px 3px;
  }
  #MenuI1{
    width: 70px;
    height: 70px;
   
  }
  #MenuI2{
    width: 70px;
    height: 70px;
  }
  
  #MenuI3{
    width: 70px;
    height: 70px;
  
  }
  .menuimagen{
    float:left;
    margin: 40px 0px 2% -5%;
    
  }
  .menuimagen1{
    float:left;
    margin: 40px 0px 2% -20%;
  }
  .menuimagen2{
    float:left;
    margin: 40px 0% 2% -40%;
  }
  
  #editaravatar{
    position: absolute;
    width:150px;
    height: 50px;
    left: 40%;
    padding:8px 12px;
    margin:40px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }  
  #editardatos{
    position: absolute;
    width:150px;
    height: 50px;
    left: 40%;
    padding:8px 12px;
    margin:150px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }
  #historial{
    position: absolute;
    width:150px;
    height: 60px;
    left: 40%;
    padding:8px 12px;
    margin:260px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    border:1px solid #78788c;
    background:0;
    color: #0b3061;
    box-shadow: 1px 1px 5px #000000 ;
    cursor:pointer;
    background: transparent;
  }
  .h4_1{
    margin-left: 15%;
    margin-top: 100px;
    color: #102461; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; 
  }
  .card{ 
    left: 5%;
    width: 90%;
    margin-top: 5%;
    
  }
  .card_body h5, .card_body h6{
    font-size: 40pt;
  }
  #mosaicoIZQ{
    bottom:-55px;
    position:relative;
    margin-bottom: 40px;
    width: 90px;
    height: 90px;
    margin-left: 5px;
  }
  .site-footer
    {
      padding-bottom:0
      
    }
    .site-footer hr
    {
      border-top-color:rgb(255, 255, 255);
      margin-top: 60px;
      opacity:0.5
    }
    .site-footer .footer-links{
        text-align: left;
        margin: 10px;
        font-size:14px;
        
    }
    .site-footer .copyright-text
    {
      text-align:center;
    }
    .site-footer .social-icons
    {
        text-align:left;  
   
        margin-top: -320px;
        margin-left: -110px;
    }
    .copyright-text
    {
     
    
      margin-bottom: 10px;
    }

  }
  